﻿@model Taranto.ViewModels.InstitucionalVMItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<h4>INSTITUCIONAL > @ViewBag.TituloInstitucional</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="tab-content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Descripcion)

        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>