﻿
@model  Taranto.ViewModels.InstitucionalVM
@{
    ViewBag.Title = "Institucionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            @*<a href="novedades/add" class="btn btn-default">Cargar nuevo <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>*@
            <div class="clearfix"></div>

            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

            <div class="select-article mt-20">
                <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
                    <option value="1" class="text-uppercase">EMPRESA</option>
                    <option value="2" class="text-uppercase">CALIDAD, SEGURIDAD Y MEDIO AMBIENTE</option>
                    <option value="3" class="text-uppercase">RRHH</option>
                </select>
            </div>

            <div id="article-1" class="article mt-30">
                <div class="article-content">
                    <h4 class="font-regular">EMPRESA</h4>
                </div>
                <div class="clearfix"></div>

                <a href="@Url.Action("Edit", "Institucionales", new { Id = 1 }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div id="article-2" class="article mt-30">
                <div class="article-content">
                    <h4 class="font-regular">CALIDAD, SEGURIDAD Y MEDIO AMBIENTE</h4>
                </div>
                <div class="clearfix"></div>

                <a href="@Url.Action("Edit", "Institucionales", new { Id = 2 }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div id="article-3" class="article mt-30">
                <div class="article-content">
                    <h4 class="font-regular">RRHH</h4>
                </div>
                <div class="clearfix"></div>

                <a href="@Url.Action("Edit", "Institucionales", new { Id = 3 }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
            </div>

        </div>
    </div>

</section>

