﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Taranto</title>
    <meta name="description" content="CALIDAD JUSTO A TIEMPO! TRAS ESTAS PUERTAS PALPITA UNA EXPERIENCIA... Y UNA VISION DIFERENTE DEL MERCADO.">

    <link rel="shortcut icon" href="~/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/fontawesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/app.css" rel="stylesheet">
</head>
<body>
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <i class="fa fa-fw fa-lg fa-bars"></i>
                </button>
                <div class="navbar-brand page-scroll"><img src="~/img/logo_footer.png" height="42px" title="Taranto"></div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#container">Descarga nuestra App</a></li>
                    <li><a class="page-scroll" href="#download">Web</a></li>
                    <li><a class="page-scroll" href="#services">Nuestras redes</a></li>
                    <li><a class="page-scroll" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
