﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Cambiar Contraseña";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Cambiar mi contraseña</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nro Cliente: @SeguridadService.UsuarioLogueadoCodigo</strong></p>
    </div>
    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nombre: @SeguridadService.NombreUsuario</strong></p>
    </div>

    <div class="clear bottommargin-sm"> </div>

    <a href="#" data-toggle="modal" data-target="#modal-cambiar-mi-contrasena" class="btn btn-danger nomargin">Cambiar mi contraseña</a>

    <div class="modal fade" id="modal-cambiar-mi-contrasena" tabindex="-1" role="dialog" aria-labelledby="cambiar-mi-contrasena-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="cambiar-mi-contrasena-label">Cambiar mi contraseña</h4>
                    </div>
                    <div class="modal-body">
                        
                        <p class="mt-0 mb-0"><strong class="small">Fecha: @(DateTime.Now)</strong></p>
                        <p class="mt-0 mb-30"><strong class="small">Cliente: @SeguridadService.NombreUsuario</strong></p>

                        <div id="password_edit_form_result"></div>

                        <form role="form" id="password_edit_form">
                            <fieldset class="nobottommargin">

                                <div class="input-group input-block-level">
                                    <label for="password_edit_oldpass" class="sr-only">Contraseña actual</label>
                                    <input type="password" name="password_edit_oldpass" id="password_edit_oldpass" class="form-control input-block-level modal-form" maxlength="10" placeholder="Contraseña actual" required="">
                                </div>
                                <div class="input-group input-block-level">
                                    <label for="password_edit_newpass1" class="sr-only">Nueva contraseña</label>
                                    <input type="password" name="password_edit_newpass1" id="password_edit_newpass1" class="form-control input-block-level modal-form mt-20" maxlength="10" placeholder="Nueva contraseña" required="">
                                </div>
                                <div class="input-group input-block-level">
                                    <label for="password_edit_newpass2" class="sr-only">Confirme nueva contraseña</label>
                                    <input type="password" name="password_edit_newpass2" id="password_edit_newpass2" class="form-control input-block-level modal-form" maxlength="10" placeholder="Confirme nueva contraseña" required="">
                                </div>

                                <div class="clear pt-20"></div>
                                <div id="errorMessage"></div>
                                <button type="button" id="btnPasswordEdit" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                    Guardar
                                </button>
                                <input id="submitPasswordChange" type="submit" class="hidden" value="Guardar">

                            </fieldset>


                    </div>

                </div>
            </div>
        </div>
        
    </div><!-- #modal end -->

    <div class="clearfix bottommargin-sm"></div>
    

</div>

@section scripts
{
<script>var apiUrl = '@ViewBag.ApiUrl'</script>
<script>var clienteId = '@SeguridadService.UsuarioLogueadoCodigo'</script>
<script>var clienteNombre = '@SeguridadService.NombreUsuario'</script>
<script>var mensaje = '@ViewBag.Mensaje'</script>
<script src="~/Scripts/Perfil/CambiarContrasena.js?v=2"></script>
}
