﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Cuenta Corriente Detalle";
}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Cuenta corriente</h3>
        <span class="linea"></span>
    </div>

    <div class="alert bounceIn alert-warning alert-dismissible mt-0 hide" role="alert" id="divSinInformacion">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>No hay información..</strong>
    </div>

    <div class="clearfix"></div>
    <div id="divCabecera">

    </div>

    <div id="spinEncabezado" class="center">
        <img src="~/images/preloader.gif" alt="preload" />
    </div>

    <div class="clearfix"></div>

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th class="tcenter">#</th>
                <th class="tleft">Código</th>
                <th class="tleft hidden">Modelo</th>
                <th class="tleft">Descripción</th>
                <th class="tcenter">Cant.</th>
                <th class="tright">Subtotal</th>
            </tr>
        </thead>
        <tbody id="tablaPedidoCC"></tbody>
    </table>

    <div id="spinTabla" class="center">
        <img src="~/images/preloader.gif" alt="preload" />
    </div>

    <div id="divFooter"></div>

    <div id="spinFooter" class="center">
        <img src="~/images/preloader.gif" alt="preload" />
    </div>

    <div class="clearfix bottommargin"></div>
    <a href="javascript:history.back()">Volver</a>
</div>




@section scripts
{
    <script>var apiUrl = '@ViewBag.ApiUrl'</script>
    <script>var clienteId = '@SeguridadService.UsuarioLogueadoCodigo'</script>
    <script>var clienteNombre = '@SeguridadService.NombreUsuario'</script>
    <script>var tipoMovimiento = '@ViewBag.TipoMovimiento'</script>
    <script>var tipoComprobante = '@ViewBag.TipoComprobante'</script>
    <script>var numeroComprobante = '@ViewBag.NumeroComprobante'</script>
    <script src="~/Scripts/CuentaCorriente/cuentaCorrienteDetalle.js?v=3"></script>
}
