﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Cuenta Corriente";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Cuenta corriente</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongCliente"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongClienteNombre"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongBloqueo"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongLimiteCredito"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongPromedioCompras"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongCheques"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongTotalDedua"></strong></p>
    </div>
    <div class="col-sm-6">
        <p class="mt-0 mb-0"><strong class="small" id="strongDeudaCC"></strong></p>
    </div>

    <div id="spinEncabezado" class="center">
        <img src="~/images/preloader.gif" alt="preload" />
    </div>

    <div class="clear bottommargin-sm"> </div>

    <a href="#" data-toggle="modal" data-target="#nuevo-pago" class="btn btn-danger nomargin btn-with-icon">Informar pago realizado <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>

    @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
    {
        <div class="alert bounceIn alert-success alert-dismissible mt-20" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>@ViewBag.Mensaje</strong>
        </div>
    }

    <strong>@ViewBag.Mensaje</strong>

    <div class="modal fade" id="nuevo-pago" tabindex="-1" role="dialog" aria-labelledby="nuevo-pago-label" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="nuevo-pago-label">Informar nuevo pago realizado</h4>
                    </div>
                    <div class="modal-body">

                        <p class="mt-0 mb-0"><strong class="small">Fecha: @DateTime.Today.ToShortDateString()</strong></p>
                        <p class="mt-0 mb-30"><strong class="small">Cliente: @SeguridadService.UsuarioLogueadoCodigo - @SeguridadService.NombreUsuario</strong></p>

                        <div id="ctacte_form_result"></div>
                        <form role="form" id="ctacte_form">
                            <fieldset class="nobottommargin">

                                <div class="input-group input-block-level modal-form-filestyle">
                                    <input type="file" name="ctacte_file" id="ctacte_file" class="filestyle attachment-file" data-placeholder="Adjuntar comprobante" data-buttontext="" data-iconname="glyphicon glyphicon-plus" required="" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">

                                </div>
                                <div class="input-group input-block-level">
                                    <label for="ctacte_message" class="sr-only">Comentarios</label>
                                    <textarea name="ctacte_message" id="ctacte_message" class="form-control input-block-level short-textarea modal-form" rows="4" placeholder="Comentarios"></textarea>
                                </div>
                                <button type="button" id="btnCtaCte" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                    Enviar
                                </button>
                                <input type="submit" class="hidden" value="Enviar">

                            </fieldset>
                        </form>

                        <div id="spinEnviarEmail" class="center hide">
                            <img src="~/images/preloader.gif" alt="preload" />
                        </div>

                        <p class="mt-0 mb-0"><strong class="small">Esta información queda sujeto a confirmación del área administración.</strong></p>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="clearfix bottommargin-sm"></div>

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th class="tcenter" colspan="4">Pedido</th>
                <th class="tcenter" colspan="4">Movimiento</th>
                <th class="tcenter" colspan="3">Importes</th>
                <th class="tcenter" title="Antigüedad de la deuda">AD</th>
                <th class="tcenter" title="Días para bloqueo">B</th>
                <th></th>
            </tr>
            <tr>
                <th class="tcenter">Nro.Web</th>
                <th class="tcenter">Nro.</th>
                <th class="tcenter">Fecha</th>
                <th class="tcenter">Tipo</th>
                <th class="tcenter" title="Número de Pedido Web">NPW</th>
                <th class="tcenter">Tipo</th>
                <th class="tcenter">Nro.</th>
                <th class="tcenter">Fecha</th>
                <th class="tcenter">Desp.</th>
                <th class="tcenter">Total</th>
                <th class="tcenter">Saldo</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tablaPedidoCC"></tbody>
    </table>
    <div id="spinTabla" class="center">
        <img src="~/images/preloader.gif" alt="preload" />
    </div>
    <div class="alert bounceIn alert-warning alert-dismissible mt-20 hide" role="alert" id="divSinInformacion">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>No hay entradas..</strong>
    </div>
    <div class="col-xs-12">
        <p class="mt-0 mb-0"><strong class="small">Datos correspondientes a los últimos 180 días.</strong></p>
    </div>

    <div class="clearfix bottommargin"></div>

</div>

@section scripts
{
    <script>var apiUrl = '@ViewBag.ApiUrl'</script>
    <script>var clienteId = '@SeguridadService.UsuarioLogueadoCodigo'</script>
    <script>var clienteNombre = '@SeguridadService.NombreUsuario'</script>
    <script>var mensaje = '@ViewBag.Mensaje'</script>
    <script src="~/Scripts/CuentaCorriente/cuentaCorriente.js"></script>
}
