﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Datos bancarios";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul capitalize">Pagar / Datos bancarios</h3>
        <span class="linea"></span>
    </div>

    <div class="notopmargin nobottommargin wysiwyg">
        <h2>Nuestras cuentas bancarias<br></h2>
        <h3>Información importante para el pago a través de medios electrónicos.<br></h3>
        <p>Recuerde: Para los opciones con descuento los pagos deben ser exactos y en las fechas correctas.<br></p>
        <table class="table table-bordered" height="125" width="1101">
            <tbody>
                <tr>
                    <td>
                        <p><b>COMAFI CENTRAL</b></p>
                        <p>Cuenta: 0000 - 13557 - 9</p>
                        <p>CBU: 2990000000001355790008<br></p>
                    </td>
                    <td>
                        <p><b>CREDICOOP CENTRAL</b></p>
                        <p>Cuenta: 001 - 079939/8</p>
                        <p>CBU: 1910001855000107993982<br></p>
                    </td>
                    <td>
                        <p><b>FRANCES CENTRAL</b></p>
                        <p>Cuenta: 470 - 003108 - 9</p>
                        <p>CBU: 0170470320000000310891</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p><b>Banco NACION - Valentin Alsina-</b></p>
                        <p>Cuenta: 08900168 - 22</p>
                        <p>CBU: 0110089120008900168228<br></p>
                    </td>
                    <td>
                        <p><b>SANTANDER RIO CENTRAL</b></p>
                        <p>Cuenta: 00 - 0 - 029378 - 1</p>
                        <p>CBU: 0720000720000002937818<br></p>
                    </td>
                    <td>
                        <p><b>Banco PROVINCIA BS. AS</b></p>
                        <p>Cuenta: 5005 - 004285 - 7</p>
                        <p>CBU: 0140070001500500428579<br></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>No olvide guardar el comprobante de la operación bancaria.</li>
        </ul>
        <br>
    </div>

    <div class="clearfix bottommargin-sm"></div>

</div>