﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Editar mis Datos";
}

@ViewBag.ConfirmationMessage
<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Editar mis datos</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix"></div>

    @*<div class="col-sm-12">
            <p class="mt-0 mb-0"><strong class="small">Nro Cliente: H824</strong></p>
        </div>
        <div class="col-sm-12">
            <p class="mt-0 mb-0"><strong class="small">Nombre: CARRACEDO, HERNAN GABRIEL</strong></p>
        </div>*@
    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nro Cliente: @SeguridadService.UsuarioLogueadoCodigo</strong></p>
    </div>
    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nombre: @SeguridadService.NombreUsuario</strong></p>
    </div>
    <div class="clear bottommargin-sm"> </div>

    <a href="#" data-toggle="modal" data-target="#modal-editar-mis-datos" class="btn btn-danger nomargin btn-with-icon">Solicitar edición de mis datos <span aria-hidden="true" class="glyphicon glyphicon-user"></span></a>

    @if (ViewBag.EnableToEdit)
    {
        <div class="modal fade" id="modal-editar-mis-datos" tabindex="-1" role="dialog" aria-labelledby="editar-mis-datos-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="editar-mis-datos-label">Solicitar edición de mis datos</h4>
                        </div>
                        <div class="modal-body">
                            <p class="mt-0 mb-0"><strong class="small">Fecha:  @DateTime.Today.ToShortDateString()</strong></p>
                            <p class="mt-0 mb-30"><strong class="small">Cliente:  @SeguridadService.UsuarioLogueadoCodigo - @SeguridadService.NombreUsuario</strong></p>

                            <div id="user_edit_form_result"></div>
                            <form role="form" id="user_edit_form">
                                <fieldset class="nobottommargin">

                                    <div class="input-group input-block-level">
                                        <label for="nombreComercio" class="sr-only">Nombre del comercio</label>
                                        <input type="text" name="nombreComercio" id="nombreComercio" class="form-control input-block-level modal-form" maxlength="80" placeholder="Nombre del comercio">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="razonSocial" class="sr-only">Razón Social</label>
                                        <input type="text" name="razonSocial" id="razonSocial" class="form-control input-block-level modal-form" maxlength="80" placeholder="Razón Social">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="direccionEntrega" class="sr-only">Dirección entrega pedidos Taranto</label>
                                        <input type="text" name="direccionEntrega" id="direccionEntrega" class="form-control input-block-level modal-form" maxlength="80" placeholder="Dirección entrega pedidos Taranto">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="telefonoContacto" class="sr-only">Teléfono contacto Taranto</label>
                                        <input type="text" name="telefonoContacto" id="telefonoContacto" class="form-control input-block-level modal-form" maxlength="30" placeholder="Teléfono contacto Taranto">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="emailContacto" class="sr-only">E-mail de contacto administrativo</label>
                                        <input type="email" name="emailContacto" id="emailContacto" class="form-control input-block-level modal-form" maxlength="80" placeholder="E-mail de contacto administrativo">
                                    </div>

                                    <div class="input-group input-block-level">
                                        <label for="sucursal" class="sr-only">Sucursal</label>
                                        <input type="text" name="sucursal" id="sucursal" class="form-control input-block-level modal-form mt-20" maxlength="80" placeholder="Sucursal">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="direccionComercio" class="sr-only">Dirección del comercio</label>
                                        <input type="text" name="direccionComercio" id="direccionComercio" class="form-control input-block-level modal-form" maxlength="80" placeholder="Dirección del comercio">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="telefonoComercio" class="sr-only">Teléfono del comercio</label>
                                        <input type="text" name="telefonoComercio" id="telefonoComercio" class="form-control input-block-level modal-form" maxlength="30" placeholder="Teléfono del comercio">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="email" class="sr-only">Email</label>
                                        <input type="email" name="email" id="email" class="form-control input-block-level modal-form" maxlength="80" placeholder="Email">
                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="diasHorarios" class="sr-only">Días y horarios de atención</label>
                                        <textarea name="diasHorarios" id="diasHorarios" class="form-control input-block-level short-textarea modal-form" rows="3" placeholder="Días y horarios de atención"></textarea>
                                    </div>

                                    <div class="input-group input-block-level">
                                        <label for="comentarios" class="sr-only">Comentarios</label>
                                        <textarea name="comentarios" id="comentarios" class="form-control input-block-level short-textarea modal-form mt-20" rows="3" placeholder="Comentarios"></textarea>
                                    </div>
                                    <div id="errorMessage"></div>
                                    <button type="button" id="btnUserEdit" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                        Enviar
                                    </button>
                                    <input type="submit" class="hidden" value="Enviar">

                                </fieldset>
                            </form>

                            <p class="mt-0 mb-0"><strong class="small">Esta información queda sujeto a confirmación del área administración.</strong></p>

                        </div>

                    </div>
                </div>
            </div>
        </div><!-- #modal end -->

        if (ViewBag.LastRequest)
        {
            <div class="alert bounceIn alert-warning alert-dismissible mt-40" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Tu última solicitud de edición de datos fue APROBADA.</strong>
            </div>
        }
        else if (!ViewBag.LastRequest)
        {
            <div class="alert bounceIn alert-warning alert-dismissible mt-40" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Tu última solicitud de edición de datos fue RECHAZADA.</strong>
            </div>
        }
    }

    else
    {
        <div class="alert bounceIn alert-warning alert-dismissible mt-20" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Ya solicistaste la edición de tus datos.</strong> <br>
            Esta información queda sujeto a confirmación del área administración. <br>
            Cuando sea aprobada o rechazada podrás volver a solicitar edición.
        </div>
    }



    <div class="clearfix bottommargin-sm"></div>

</div>

@section scripts
{
    <script>var apiUrl = '@ViewBag.ApiUrl'</script>
    <script>var clienteId = '@SeguridadService.UsuarioLogueadoCodigo'</script>
    <script>var clienteNombre = '@SeguridadService.NombreUsuario'</script>
    <script>var mensaje = '@ViewBag.Mensaje'</script>
    <script src="~/Scripts/Perfil/EditarMisDatos.js"></script>
}
