﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Foto punto de Venta";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Foto punto de venta</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nro Cliente: @SeguridadService.UsuarioLogueadoCodigo</strong></p>
    </div>
    <div class="col-sm-12">
        <p class="mt-0 mb-0"><strong class="small">Nombre: @SeguridadService.NombreUsuario</strong></p>
    </div>

    <div class="clear bottommargin-sm"> </div>

    <a href="#" data-toggle="modal" data-target="#modal-editar-mis-datos" class="btn btn-danger nomargin btn-with-icon">Cargar fotos del punto de venta <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
    @if (ViewBag.EnableToEdit)
    {
        <div class="modal fade" id="modal-editar-mis-datos" tabindex="-1" role="dialog" aria-labelledby="editar-mis-datos-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                    
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="editar-mis-datos-label">Cargar fotos del punto de venta</h4>
                        </div>
                        <div class="modal-body">
                            <p class="mt-0 mb-0"><strong class="small">Fecha:  @DateTime.Today.ToShortDateString()</strong></p>
                            <p class="mt-0 mb-30"><strong class="small">Cliente:  @SeguridadService.UsuarioLogueadoCodigo - @SeguridadService.NombreUsuario</strong></p>

                            <div id="user_edit_form_result"></div>
                            <form role="form" id="user_edit_form">
                                <fieldset class="nobottommargin">

                                    @*<div class="input-group input-block-level modal-form-filestyle">
            <input type="file" name="user_edit_img" id="user_edit_img" class="filestyle attachment-img" data-placeholder="Adjuntar imagen principal" data-buttontext="" data-iconname="glyphicon glyphicon-plus" required="" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">
            <div class="bootstrap-filestyle input-group">
                <input type="text" class="form-control " placeholder="Adjuntar imagen principal" disabled="">
                <span class="group-span-filestyle input-group-btn" tabindex="0">
                    <label for="user_edit_img" class="btn btn-default ">
                        <span class="icon-span-filestyle glyphicon glyphicon-plus"></span>
                        <span class="buttonText"></span>
                    </label>
                </span>
            </div>
        </div>
        <div class="input-group input-block-level modal-form-filestyle">
            <input type="file" multiple="" name="user_edit_more_img[]" id="user_edit_more_img" class="filestyle attachment-multiple-img" data-placeholder="Adjuntar más imágenes" data-buttontext="" data-iconname="glyphicon glyphicon-plus" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">
            <div class="bootstrap-filestyle input-group">
                <input type="text" class="form-control " placeholder="Adjuntar más imágenes" disabled="">
                <span class="group-span-filestyle input-group-btn" tabindex="0">
                    <label for="user_edit_more_img" class="btn btn-default ">
                        <span class="icon-span-filestyle glyphicon glyphicon-plus"></span>
                        <span class="buttonText"></span>
                    </label>
                </span>
            </div>
        </div>

        <div class="input-group input-block-level">
            <label for="user_edit_message" class="sr-only">Comentarios</label>
            <textarea name="user_edit_message" id="user_edit_message" class="form-control input-block-level short-textarea modal-form" rows="3" placeholder="Comentarios"></textarea>
        </div>*@

                                    <div class="input-group input-block-level modal-form-filestyle">
                                        <input type="file" name="user_edit_img" id="user_edit_img" class="filestyle attachment-file" data-placeholder="Adjuntar imagen principal" data-buttontext="" data-iconname="glyphicon glyphicon-plus" required="" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">

                                    </div>
                                    <div class="input-group input-block-level modal-form-filestyle">
                                        <input type="file" name="user_edit_more_img" id="user_edit_more_img" class="filestyle attachment-file" data-placeholder="Adjuntar más imágenes" data-buttontext="" data-iconname="glyphicon glyphicon-plus" multiple required="" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">

                                    </div>
                                    <div class="input-group input-block-level">
                                        <label for="user_edit_message" class="sr-only">Comentarios</label>
                                        <textarea name="user_edit_message" id="user_edit_message" class="form-control input-block-level short-textarea modal-form" rows="4" placeholder="Comentarios"></textarea>
                                    </div>
                                    <div id="errorMessage"></div>
                                    <button type="button" id="btnUserEdit" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                        Enviar
                                    </button>
                                    <input type="submit" class="hidden" value="Enviar">

                                </fieldset>
                            </form>

                            <p class="mt-0 mb-0"><strong class="small">Esta información queda sujeto a confirmación del área administración.</strong></p>

                        </div>

                    </div>
                </div>
            </div>
        </div><!-- #modal end -->
        if (ViewBag.LastRequest)
        {
            <div class="alert bounceIn alert-warning alert-dismissible mt-40" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Tu última solicitud de edición de datos fue APROBADA.</strong>
            </div>
        }
        else if (!ViewBag.LastRequest)
        {
            <div class="alert bounceIn alert-warning alert-dismissible mt-40" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Tu última solicitud de edición de datos fue RECHAZADA.</strong>
            </div>
        }
    }
    else
    {
        <div class="alert bounceIn alert-warning alert-dismissible mt-20" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Ya solicistaste la carga de fotos.</strong>  <br>
            Esta información queda sujeto a confirmación del área administración. <br>
            Cuando sea aprobada o rechazada podrás volver a solicitar edición.
        </div>
    }

    <div class="clearfix bottommargin-sm"></div>

</div>

@section scripts
{
    <script>var apiUrl = '@ViewBag.ApiUrl'</script>
    <script>var clienteId = '@SeguridadService.UsuarioLogueadoCodigo'</script>
    <script>var clienteNombre = '@SeguridadService.NombreUsuario'</script>
    <script>var mensaje = '@ViewBag.Mensaje'</script>
    <script src="~/Scripts/Perfil/FotoPuntoDeVenta.js"></script>
}
