﻿
@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Sugerencias";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Sugerencias</h3>
        <span class="linea"></span>
    </div>

    <a href="#" data-toggle="modal" data-target="#nuevo-chat" class="btn btn-danger nomargin btn-with-icon">Cargar nueva sugerencia <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>

    <div class="modal fade" id="nuevo-chat" tabindex="-1" role="dialog" aria-labelledby="nuevo-chat-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="nuevo-chat-label">Nueva sugerencia</h4>
                    </div>
                    <div class="modal-body">

                        <p class="mt-0 mb-0"><strong class="small">Fecha: @DateTime.Today.ToShortDateString()</strong></p>
                        <p class="mt-0 mb-30"><strong class="small">Cliente: @SeguridadService.UsuarioLogueadoCodigo - @SeguridadService.NombreUsuario</strong></p>

                        <div id="chat_form_result"></div>
                        <form role="form" id="chat_form">
                            <fieldset class="nobottommargin">

                                <input type="hidden" name="chat_type" id="chat_type" value="1">
                                <input type="hidden" name="chat_thread" id="chat_thread" value="1">

                                <div class="input-group input-block-level">
                                    <label for="chat_category" class="sr-only">Categoría</label>
                                    <div class="btn-group bootstrap-select input-group-btn form-control input-block-level modal-form" style="width: 100%;">
                                        <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="chat_category" title="Categoría"><span class="filter-option pull-left">Categoría</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Autogestión</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Catálogo</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Contactos</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Encuestas</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Pedidos</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Otra</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select name="chat_category" id="chat_category" class="selectpicker form-control input-block-level modal-form" data-width="100%" data-dropup-auto="false" data-live-search="false" title="Categoría" required="" tabindex="-98">
                                            <option class="bs-title-option" value="">Categoría</option>
                                            <option value="Autogestión">Autogestión</option>
                                            <option value="Catálogo">Catálogo</option>
                                            <option value="Contactos">Contactos</option>
                                            <option value="Encuestas">Encuestas</option>
                                            <option value="Pedidos">Pedidos</option>
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group input-block-level">
                                    <label for="chat_message" class="sr-only">Mensaje</label>
                                    <textarea name="chat_message" id="chat_message" class="form-control input-block-level short-textarea modal-form" rows="4" placeholder="Mensaje"></textarea>
                                </div>
                                <button type="button" id="btnChat" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                    Enviar
                                </button>
                                <input type="submit" class="hidden" value="Enviar">

                            </fieldset>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix bottommargin-sm"></div>

    <div class="select-chat topmargin-sm">
        <div class="btn-group bootstrap-select form-control input-block-level" style="width: 100%;">
            <button type="button" class="btn dropdown-toggle bs-placeholder fondo-gris" data-toggle="dropdown" role="button" title="Filtrar.."><span class="filter-option pull-left">Filtrar..</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" placeholder="Buscar..." role="textbox" aria-label="Search"></div><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="Cod. seguimiento: 001 | Categoria: Catalogo<small class=&quot;text-muted&quot;>Ultimo mensaje: 11 Dic 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Cód. seguimiento: 001 | Categoría: Catálogo<small class="text-muted">Último mensaje: 11 Dic 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker form-control input-block-level" data-style="fondo-gris" data-width="100%" data-dropup-auto="false" title="Filtrar.." data-live-search="true" data-live-search-normalize="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" tabindex="-98">
                <option class="bs-title-option" value="">Filtrar..</option>
                <option value="12" data-subtext="Último mensaje: 11 Dic 2019">Cód. seguimiento: 001 | Categoría: Catálogo</option>
            </select>
        </div>
    </div>

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th>Cód. seguimiento</th>
                <th>Categoría</th>
                <th>Último mensaje</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="chat-item" id="chat-item-12">
                <td><span class="color-rojo">001</span></td>
                <td>Catálogo</td>
                <td>
                    <span class="chat-badge">
                        <b class="small">11 Dic 2019</b>
                    </span>
                </td>
                <td><i>oka</i></td>
                <td align="right"><a href="sugerencias-12" class="color-azul">Ver&nbsp;más</a></td>
            </tr>
        </tbody>
    </table>


    <div class="clearfix bottommargin-sm"></div>

</div>