﻿@{
    ViewBag.Title = "Home Page";
}

<body>

    <header>
        <div class="container clearfix">
            <div class="mt-10 mt-sm-40 text-center">
                <h3 class="text-uppercase letter-spacing-1">Bienvenido al panel Admin!</h3>
            </div>
        </div>
    </header>

    <section class="pt-20 pt-sm-40 pb-20 pb-sm-40 content-min-height">
        <div class="container clearfix">

        </div>
    </section>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="../js/plugins/jquery.bootstrap.js"></script>
    <script src="../js/components/bs-select.js"></script>
    <script src="../js/components/bootstrap-filestyle.min.js"></script>
    <script src="js/summernote.min.js"></script>
    <script src="js/lang/summernote-es-ES.js"></script>
    <script src="js/backend-valid-forms-1.3.min.js"></script>
    <script src="js/backend-settings-1.3.min.js"></script>

</body>

<script></script>