﻿@model Taranto.ViewModels.LoginModel
@{
    ViewBag.Title = "TARANTO > PANEL ADMIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Login"))
{
    @Html.AntiForgeryToken()

    <section class="container clearfix">

        <div class="mt-30 max-width-home">

            <form role="form" id="login_form" action="login" method="POST">
                <fieldset>
                    <div class="form-group">
                        <label for="login_user">Usuario</label>
                        <input type="text" name="login_user" id="login_user" class="form-control" maxlength="30" required="">
                    </div>
                    <div class="form-group">
                        <label for="login_pass">Password</label>
                        <input type="password" name="login_pass" id="login_pass" class="form-control" maxlength="30" required="">
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnLogin" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
                            Ingresar
                        </button>
                        <input type="submit" class="hidden" value="Ingresar">
                    </div>
                </fieldset>
            </form>

        </div>

    </section>

}