﻿
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 wow bounceInLeft header-content" data-wow-delay="0.1s" style="visibility: hidden;">
            <h1>Ahora podés revisar nuestro catálogo es fácil, cómodo y rápido. <br>
            Simplemente descargalo en tu celular y llevalo con vos en cualquier momento.</h1>

            <a class="btn btn-primary wow bounceInUp page-scroll" style="margin-top: 10px; margin-right: 10px;" data-wow-delay="0.4s" href="https://play.google.com/store/apps/details?id=com.smartheads.taranto.catalogo&hl=es">Descarga en Android <i class="fa fa-android"></i></a>

            <a class="btn btn-primary wow bounceInUp page-scroll" style="margin-top: 10px; margin-right: 10px;" data-wow-delay="0.7s" href="https://itunes.apple.com/ar/app/taranto/id1301540658">Descarga en iOS <i class="fa fa-apple"></i></a>
          </div>
          <div class="col-sm-6 wow bounceInRight header-content-image" data-wow-delay="0.3s" style="visibility: hidden;">
            <img src="~/img/site-header.jpg" alt="Disponible para Android">
          </div>
        </div>
      </div>
    </header>

    <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Conocé más de Grupo Taranto</h2>
            <p>Visitá nuestro sitio web y aprendé sobre nuestra empresa, productos y servicios.</p>
            <a class="btn btn-primary btn-lg" href="http://www.taranto.com.ar/" target="_blank"><i class="fa fa-cloud-download"></i> Ver sitio web</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <a class="btn btn-link wow bounceIn" href="https://www.tranto.com.ar" target="_blank">
              <img class="img-responsive" src="~/img/catalogo-header.jpg" alt="Catalogo">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Nuestra Empresa</h2>
            <p>Fabricamos, comercializamos y distribuimos autopartes, satisfaciendo las necesidades de nuestros clientes con altos estándares de calidad.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-sm-6 text-center">
              <img class="img-responsive wow bounceInUp" src="~/img/site-services.jpg" alt="Taranto">
          </div>
          <div class="col-sm-6">

            <div class="row" style="margin-top: 30px;">

              <div class="col-sm-6 text-center">
                <a href="https://www.linkedin.com/company/492994/" target="_blank" class="fa fa-linkedin-square fa-4x"data-wow-delay=".1s">
                  <h3>Linkedin</h3>
                  <p class="text-muted">Sea parte de nuestra empresa</p>
                </a>
              </div>
              <div class="col-sm-6 text-center">
                <a href="https://www.youtube.com/channel/UCC1U17tQg9sB5OW-fJ_ZO6g?disable_polymer=true" target="_blank" class="fa fa-youtube-square fa-4x" data-wow-delay=".3s">
                  <h3>Youtube</h3>
                  <p class="text-muted">Acceda a nuestros videos informativos</p>
                </a>
              </div>

            </div>
         </div>

        </div>
      </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h2>¡Contactase ahora!</h2>
                    <p>Envienos su consulta y a la brevedad un asesor se estara comunicando con usted</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <i class="fa fa-map-marker fa-3x"></i>
                    <p><a href="https://www.google.com.ar/maps/place/Mario+Bravo+641,+Pi%C3%B1eiro,+Buenos+Aires/-34.6742362,-58.3920321,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcccbc1c06a7e5:0x51f436c3617da8f9!8m2!3d-34.6742362!4d-58.3898434">Taranto San Juan S.A. - Mario Bravo 641 - Avellaneda - Buenos Aires</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><a href="skype:+5401141359000">Tel. (54)(011) 4135-9000 - Fax (54)(011) 4135-9001</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:gaskets@taranto.com.ar">info@taranto.com.ar</a></p>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/app.js"></script>
  </body>