
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

button, input, textarea, select, a, img {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-transition: all .3s ease-in-out 0s;
     -moz-transition: all .3s ease-in-out 0s;
       -o-transition: all .3s ease-in-out 0s;
          transition: all .3s ease-in-out 0s;
}

.navbar-default {
  background-color: #005193;
  border: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: all .3s ease-in-out .0s;
     -moz-transition: all .3s ease-in-out .0s;
       -o-transition: all .3s ease-in-out .0s;
          transition: all .3s ease-in-out .0s;
}

.navbar-default.affix {
  background-color: #005193;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-brand {
  padding: 5px 15px;
  outline: 0;
}

.navbar-default .nav > li > a {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  outline: 0;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: transparent;
  color: #222;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus {
  background-color: transparent;
  color: #222;
}

.navbar-default .navbar-toggle {
  color: #fff;
  outline: 0;
}

@media (max-width: 767px) {

  .navbar-default {
    background-color: #005193;
    padding-top: 0;
    padding-bottom: 0;
  }
}

header {
  position: relative;
  overflow: hidden;
background-color: #ffffff;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 15% 0 0 0;
}

header h1 {
  color: #666666;
  font-size: 25px;
  font-weight: 300;
  padding: 15px 0;
}

header .header-content a {
  font-size: 24px;
  font-weight: 300;
  padding: 15px 20px;
}

header .header-content-image {
  text-align: right;
}

@media (min-width: 992px) and (max-width: 1199px) {

  header h1 {
    font-size: 36px;
  }

  header .header-content a {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  header h1 {
    font-size: 32px;
  }

  header .header-content a {
    font-size: 20px;
  }
}

@media (max-width: 767px) {

  header h1 {
    font-size: 24px;
  }

  header .header-content a {
    font-size: 18px;
  }

  header .header-content-image {
    text-align: center;
  }

  header .header-content-image img {
    width: 80%;
    margin-top: 20px;
  }
}

section {
  padding: 150px 0;
}

section h2 + p {
  font-size: 18px;
  padding: 0 0 45px 0;
}

section h3 + p {
  font-size: 16px;
  padding: 0 0 15px 0;
}

section i {
  color: #005193;
}

section a > i {
  color: #fff;
}

section a {
  color: #005193;
}

section a:hover,
section a:focus {
  color: #222;
}

@media (max-width: 767px) {

  section {
    padding: 60px 0;
  }

  section h2 + p {
    padding: 0 0 30px 0;
  }

  section h3 + p {
    padding: 0 0 15px 0;
  }
}

#download {
  background-color: white;
  color: #666666;
}

#download .qrcode {
   border-radius: 6px;
}

#products {
  position: relative;
  background-image: url('../img/site-products.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 250px 0;
}

#products:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#products .container {
  position: relative;
  z-index: 1;
}

.btn-primary {
  background-color: #E20024;
  color: #fff;
  border-color: #E20024;
  -webkit-transition: all .35s;
     -moz-transition: all .35s;
          transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #EE1B2E;
  color: #fff;
  border-color: #EE1B2E;
}

.btn-primary:active,
.btn-primary.active {
  background-image: none;
}
