﻿#separadorDistribuidores {
    background-image: url(./../images/home/dist.jpg);
    -ms-background-position: 50% 45.25px;
    background-position: 50% 45.25px;
}

#page-title {
    padding: 120px 0px;
    background-position: 50% -15px;
}

#errorMessage{
    color:red;
}


#pageProductos #page-title {
    background-image: url(./../images/parallax/productos.jpg);
}

#pageContacto #page-title {
    background-image: url(./../images/parallax/contacto.jpg);
}

#pageNovedades #page-title {
    background-image: url(./../images/parallax/novedades.jpg);
}

#pageCalidadSeguridad #page-title {
    background-image: url(./../images/parallax/calidad-seguridad-y-medio-ambiente.jpg);
}

#pageGrupoTaranto #page-title {
    background-image: url(./../images/parallax/grupo-taranto.jpg);
}

#pageRrhh #page-title { 
    background-image: url(./../images/parallax/rrhh.jpg); 
}

#pageDistribuidores #page-title {
    background-image: url(./../images/parallax/distribuidores.jpg);
}

#pageCatalogo #page-title {
    background-image: url(./../images/parallax/catalogo.jpg);
}

#pagePerfil #page-title {
    background-image: url(./../images/parallax/perfil.jpg);
    padding: 80px 0 60px;
    background-position: center top;
}

#fotoPerfil {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 4px solid #FFFFFF;
    margin: 20px auto 10px;
}

#filaDescripciontotalEnDetallePedido {
    color: #d52e25;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}

#filaTotalEnDetallePedido {
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}

@keyframes glowing {
    0%, 100% {
        background-color: #d52e25;
        color: white;
    }

    50% {
        background-color: transparent;
        color: #156099;
    }
}

.nuevo-catalogo-button {
    animation: glowing 2000ms infinite;
}

.nuevo-catalogo-p {
    text-align:center;
    line-height:22px;
}