﻿@model DateTime

<div class="form-group">
    <label for="@Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "the_date")">@Html.Raw((string)ViewData["Label"] != null ? (string)ViewData["Label"] : "Fecha")</label>
    @Html.TextBoxFor(model => model, new { id = Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "the_date"), @class = "form-control the_date", Value = Model.Date.ToString("MM/dd/yyyy") })
</div>


@if (ViewData["excludeScripts"] == null)
{
    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.datepicker.min.js"></script>
    <script>
        $("#the_date").datepicker();
        $("#the_date").datepicker("setDate", new Date());
    </script>
}
