﻿@model Taranto.ViewModels.GenericFileViewModel

<div class="form-group">
    <div class="form-group">
        <label>@Html.Raw((string)ViewData["Label"] != null ? (string)ViewData["Label"] : "Archivo adjunto") <span class="glyphicon glyphicon-question-sign txt-blue" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Formato: libre(.xls, .txt, .pdf, etc)"></span></label>
        <input type="file" name="@(Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "File")).file" class="filestyle" data-buttonName="btn-default" id="@(Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "File")).file"
               data-buttonText="Examinar" @Html.Raw(Model != null ? Model.File != null ? "data-placeholder=" + Model.File.FileName : "data-placeholder=" + Model.imagePath : "")>
    </div>
</div>


