﻿@model Taranto.ViewModels.ImageViewModel

<div class="form-group">
    <div class="form-group">
        <label>@Html.Raw((string)ViewData["Label"] != null ? (string)ViewData["Label"] : "Imagen") <span class="glyphicon glyphicon-question-sign txt-blue" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Formato: .jpg, - Dimensiones aproximadas deseadas: 1920x1080 píxeles. -> Herramienta online para achicar sus fotos: www.achicarimagenes.com.ar"></span></label>
        <input type="file" name="@(Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "Image")).file" class="filestyle attachment-img" data-buttonName="btn-default" id="@(Html.Raw((string)ViewData["Id"] != null ? (string)ViewData["Id"] : "Image")).file"
               data-buttonText="Examinar" @Html.Raw(Model != null ? Model.File != null ? "data-placeholder=" + Model.File.FileName : "data-placeholder=" + Model.imagePath : "")>
    </div>
</div>


