﻿@model Taranto.ViewModels.TarantoTranslatableStringSummernote
@using Taranto.ViewModels


@foreach (KeyValuePair<string, string> entry in Model.Translations)
{
<div class="form-group language-div lang-@entry.Key">
    @Html.LabelFor(model => Model.Translations[entry.Key], Model.FieldName + " (" + entry.Key.ToString() + ")")
    

        @Html.EditorFor(model => Model.Translations[entry.Key], new { htmlAttributes = new { @class = "form-control summernote" } })

</div>
}
<script>
    $(function () {
        $(".summernote").each((x, val) => { var a = $(val); a.summernote("code", a.val()) })
        $("#btnSlider").click(function () {
            
            $(".summernote").each((x, element) => {  $(element).val($(element).summernote("code"))})
        });
    });
</script>
