﻿
@model  Taranto.ViewModels.RRHHPostulateVM
@{
    ViewBag.Title = "CV RRHH / POSTULACIONES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

            <a href="RRHHPostulaciones/downloadExcel" class="btn btn-default">Descargar excel <span aria-hidden="true" class="glyphicon glyphicon-save"></span></a>

            @{

                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                        <div class="article mt-30">
                            <div class="article-content" style="min-height: auto;">
                                <h4 class="font-regular">@item.Name</h4>
                                <p>Fecha: @item.PostulateFecha.ToString("dd MMM yyyy")</p>
                            </div>
                            <div class="clearfix"></div>
                            <a role="button" data-toggle="collapse" href="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id" class="btn btn-default mt-10">Leer <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='RRHHPostulaciones/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>

                            <div class="clearfix"></div>
                            <div class="collapse mt-10" id="collapse-@item.Id">
                                <div class="article-content" style="min-height: auto;">
                                    <p class="pt-10">DNI: @item.Dni</p>
                                    <p>Nacionalidad: @item.Nationality</p>
                                    <p>Provincia: @item.State</p>
                                    <p>Localidad: @item.City</p>
                                    <p>Dirección: @item.Address</p>
                                    <p>Email: @item.Email</p>
                                    <p>Tel: @item.Tel</p>
                                    <p>Fecha de Naciemiento: @item.Birthdate</p>
                                    <p>Sexo: @item.Sex</p>
                                    <p class="pt-10 mb-0">@item.Message</p>
                                    @if (!string.IsNullOrEmpty(item.File))
                                    {
                                        <p class="pt-10">CV adjunto: <a href="@string.Format("http://www.taranto.com.ar/media/cv/{0}", item.File)" target="_blank" class="font-bold">@item.File</a></p>
                                    }
                                </div>
                            </div>
                        </div>
                }
            }

        </div>
    </div>

</section>

