﻿
@model  Taranto.ViewModels.SuscriptosVM
@{
    ViewBag.Title = "SUSCRIPTOS NEWSLETTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

            <a href="suscriptos/downloadExcel" class="btn btn-default">Descargar excel <span aria-hidden="true" class="glyphicon glyphicon-save"></span></a>

            @{

                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div class="article mt-30">
                        <div class="article-content">
                            <h4 class="font-regular">@item.Email</h4>
                            <p>Fecha de suscripción: @item.SubscribeDate.ToString("dd MMM yyyy")</p>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</section>

