﻿@model Taranto.ViewModels.ChatVMItem

@{
    ViewBag.Title = "SUGERENCIAS > LEER/RESPONDER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LastMessageDate)
    @Html.HiddenFor(model => model.NotificationAdmin)
    @Html.HiddenFor(model => model.NotificationUser)
    @Html.HiddenFor(model => model.Category)
    @Html.HiddenFor(model => model.ChatMsg)
    @Html.HiddenFor(model => model.ChatType)
    @Html.HiddenFor(model => model.IdUser)

    <div class="mt-30 mt-sm-40 text-center">
        <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
        <span class="big font-bold txt-blue">
            ID cliente:  @Html.DisplayTextFor(model => model.IdUser) | Cód.seguimiento: @Html.DisplayTextFor(model => model.Cod) | Categoría: @Html.DisplayTextFor(model => model.Category)
        </span>
    </div>
    <div class="row mt-40">
        <div class="col-xs-12">
            @{
                if (Model == null) { return; }
                foreach (var item in Model.ChatMsg)
                {
                    if (item.IdUserOrAdmin == "admin")
                    {
                        <div class="message mb-20 sent">
                            <span class="message-author"><b class="small">@item.IdUserOrAdmin</b></span>
                            <span class="message-date"><b class="small">@item.MessageDate.ToString("dd MMM yyyy")</b></span>
                            <p class="message-txt mt-0 mb-0"><i>@item.Message</i></p>
                        </div>
                    }
                    else
                    {
                        <div class="message mb-20 received">
                            <span class="message-author"><b class="small">ID cliente:  @item.IdUserOrAdmin</b></span>
                            <span class="message-date"><b class="small">@item.MessageDate.ToString("dd MMM yyyy")</b></span>
                            <p class="message-txt mt-0 mb-0"><i>@item.Message</i></p>
                        </div>
                    }
                }
            }

            <div class="clearfix"></div>
            <hr class="mt-20">

            @if (string.IsNullOrEmpty(Model.Cod))
            {
                <div class="form-group">
                    <label for="cod">Cód. seguimiento</label>
                    @Html.EditorFor(model => model.Cod, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.Cod)

            }

            <div class="form-group">
                <label for="message">Mensaje</label>
                @Html.TextAreaFor(m => m.Messege, new { cols = "160", rows = "5" })
            </div>

            <hr class="mt-40">
            <div class="form-group">
                <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
                    Responder
                </button>
                <input type="submit" class="hidden" value="Guardar">
            </div>

        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
