﻿
@model  Taranto.ViewModels.ChatVM
@{
    ViewBag.Title = "SUGERENCIAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

            @*<a href="consultas/downloadExcel" class="btn btn-default">Descargar excel <span aria-hidden="true" class="glyphicon glyphicon-save"></span></a>*@

            @{
                <div class="select-article mt-20">
                    <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
                        @{
                            if (Model == null) { return; }
                            foreach (var item in Model.Items)
                            {
                                <option value="@item.Id" class="text-uppercase">ID cliente: @item.IdUser | Cód. seguimiento: @item.Cod | Categoría: @item.Category</option>
                            }
                        }
                    </select>
                </div>
                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div id="article-@item.Id" class="article mt-30">
                        <div class="article-content" style="min-height: auto;">
                            <h4 class="font-regular">ID Cliente: @item.IdUser</h4>
                            <p>Cód. seguimiento: @item.Cod</p>
                            <p>Categoría: @item.Category</p>
                            <p class="chat-badge">
                                <span>Fecha Último mensaje: @item.LastMessageDate.ToString("dd MMM yyyy")</span>
                                @if (item.NotificationAdmin > 0)
                                {
                                    <span class="badgee" title="Nuevos mensajes">@item.NotificationAdmin</span>
                                }
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        @*<a role="button" data-toggle="collapse" href="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id" class="btn btn-default mt-10">Leer <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a>*@
                        <a href="@Url.Action("Details", "Sugerencias", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Leer/Responder <span aria-hidden="true" class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                }
            }

        </div>
    </div>

</section>

