﻿@model Taranto.ViewModels.OfertaViewModel
@{
    ViewBag.Title = "OFERTA > Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("Edit", "Ofertas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="tab-content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xxs-12 col-xs-6">
                @Html.EditorFor(model => model.Items.First().FechaAlta, new { Label = "Fecha", Id = "FechaAlta" })
            </div>
            <div class="col-xxs-12 col-xs-6">
                @Html.EditorFor(model => model.Items.First().FechaCierre, new { Label = "Fecha Limite", Id = "FechaCierre", excludeScripts = true })
            </div>
        </div>
        <div class="form-group">
            <label for="Titulo">Titulo</label>
            @Html.EditorFor(model => model.Items.First().Titulo, new { htmlAttributes = new { @class = "form-control", excludeScripts = true } })
        </div>
        @Html.EditorFor(model => model.Items.First().Image)
        @Html.EditorFor(model => model.Items.First().ArchivoAdjunto, new { Label = "Archivo Adjunto", Id = "ArchivoAdjunto" })
        <h4 class="mt-30">Seleccione quién podrá ver esta oferta:</h4>
        <div class="row">
            <div class="col-xxs-12 col-xs-6">
                <label for="Clientes">Clase de cliente</label>
                <select class="selectpicker" multiple data-actions-box="true" data-select-all-text="Seleccionar todos" data-deselect-all-text="Deseleccionar todos" name="Clase" id="Clase" data-selected-text-format="count > 4" data-count-selected-text="{0} seleccionados" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione.." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados">
                    @{
                        if (Model == null) { return; }
                        foreach (var item in Model.ClasesCliente)
                        {
                            <option id="@item.CustomerNumber" selected="@item.Selected" value="@item.CustomerNumber" class="text-uppercase">@item.Description</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xxs-12 col-xs-6">
                <label for="Clientes">Cupo de cliente</label>
                <select class="selectpicker" multiple data-actions-box="true" data-select-all-text="Seleccionar todos" data-deselect-all-text="Deseleccionar todos" name="Cuota" id="Cuota" data-selected-text-format="count > 4" data-count-selected-text="{0} seleccionados" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione.." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados">
                    @{
                        if (Model == null) { return; }
                        foreach (var item in Model.CuposCliente)
                        {
                            <option id="@item.Descripcion" selected="@item.Selected" value="@item.Descripcion" class="text-uppercase">@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
        </div>

        <label for="Clientes">Excluir clientes</label>
        <select class="selectpicker" multiple data-actions-box="true" data-select-all-text="Seleccionar todos" data-deselect-all-text="Deseleccionar todos" name="Excluir" id="Excluir" data-selected-text-format="count > 4" data-count-selected-text="{0} seleccionados" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione.." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados">
            @{
                if (Model == null) { return; }
                foreach (var item in Model.Clientes)
                {
                    <option id="@item.CodigoCliente" selected="@item.Selected" value="@item.CodigoCliente" class="text-uppercase">@item.CodigoCliente</option>
                }
            }
        </select>

    </div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Add">
    </div>

    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="js/jquery.datepicker.min.js"></script>
    <script>
        $("#FechaAlta").datepicker();
        $("#FechaCierre").datepicker();


    </script>
}

