﻿@model  Taranto.ViewModels.OfertaViewModel
@{
    ViewBag.Title = "OFERTAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

<a href="@Url.Action("Add", "Ofertas")" class="btn btn-default mt-10">Cargar nueva<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>

<div class="select-article mt-20">
    <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
        @{
            if (Model == null) { return; }
            foreach (var item in Model.Items)
            {
                <option value="@item.Id" class="text-uppercase">@item.Titulo</option>
            }
        }
    </select>
</div>
@{
    var request = HttpContext.Current.Request;
    var appUrl = HttpRuntime.AppDomainAppVirtualPath;
    var baseUrl = string.Format("{0}://{1}{2}", request.Url.Scheme, request.Url.Authority, appUrl);
    if (Model == null) { return; }
    foreach (var item in Model.Items)
    {
        <div id="article-@item.Id" class="article mt-30">
            <div class="article-image" style="background-image: url(@string.Concat(baseUrl, item.Image.ToString()));"></div>
            <div class="article-content">
                <h4 class="font-regular">@item.Titulo</h4>
                @*<p>@item.DescripcionEs</p>*@
                <p class="small">Fecha: @item.FechaAlta.ToString("dd MMM yyyy") - Fecha límite: @item.FechaCierre.ToString("dd MMM yyyy")</p>
                <p class="small">Clase de cliente: @String.Join(";", item.Clase)</p>
                <p class="small">Cupo de cliente: @String.Join(";", item.Cuota)</p>
                <p class="small">Excluir Clientes: @String.Join(";", item.Excluir)</p>
            </div>
            <div class="clearfix"></div>

            <a href="@Url.Action("Edit", "Ofertas", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
            <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Ofertas/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
        </div>
    }
}

