﻿
@model  Taranto.ViewModels.BankAccountVM
@{
    ViewBag.Title = "DATOS DE CUENTAS BANCARIAS > EDITAR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Edit", "DatosCuentasBancarias", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

        <div class="tab-content">
            @Html.HiddenFor(model => model.Id)

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control summernote" } })

        </div>
                <hr class="mt-40">
                <div class="form-group">
                    <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
                        Guardar
                    </button>
                    <input type="submit" class="hidden" value="Add">
                </div>
            }

        </div>
    </div>

</section>
<script>
    $(function () {
        $(".summernote").each((x, val) => { var a = $(val); a.summernote("code", a.val()) })
        $("#btnSlider").click(function () {

            $(".summernote").each((x, element) => {  $(element).val($(element).summernote("code"))})
        });
    });
</script>
