﻿<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            
            <div class="col-sm-12 center topmargin-xs bottommargin-xs" id="cargaDeCombosSpinParaResultado">
                <img src="~/images/preloader.gif" alt="" />
            </div>

            <div id="cantidadResultadoBusquedaAvanzada"></div>

            <div id="catalogoCabecera"></div>

            <div id="catalogoDetalle"></div>

            <div id="cuadro"></div>

            <div id="catalogoArticulosRelacionados"></div>

            <div id="paginado"></div>

        </div>
    </div>
</section>
