﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>

@{
    const int filasDelResumen = -1;
    var fila = 0;
}

<table class="table table-hover" id="tablaPedido">
    <thead>
        <tr>
            <th>
                Ártículo
            </th>
            <th>
                Descripción
            </th>
            <th id="columnaPrecioUnitario">
                Precio Costo
            </th>
            <th id="columnaPrecioCliente">Precio Venta</th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (item.Total != filasDelResumen)
            {
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="filaDescripciontotalEnDetallePedido">Total</td>
                <td id="filaTotalEnDetallePedido">
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td></td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Articulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="filaPrecioUnitario" id="precioUnitario-@fila">
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
                <td id="precioCliente-@fila"></td>
                <td>
                    <span class="stock-@item.Stock.ToLower()"></span>
                </td>
                <td id="cantidad-@fila">
                    <a href="#" data-toggle="modal" data-target="#modalEditarCantidadArticulos"
                       data-cantidad="@item.Cantidad" data-articulo="@item.Articulo" data-idpedido="@item.IdPedido">
                        @Html.DisplayFor(modelItem => item.Cantidad, new { id = "cantidad-" + item.Articulo })
                    </a>
                </td>
                <td id="subtotal-@fila">
                    $@Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td class="tright">
                    <a href="@Url.Action(MVC.Catalogo.EliminarPedido(item.Articulo, item.IdPedido))">
                        <i class="icon-trash2"></i>
                    </a>
                </td>

                fila++;
            }
        </tr>
        }
    </tbody>
</table>

<div id="page-wrapper">
    <div class="container-fluid">
        @Html.Partial(MVC.Catalogo.Views._ModalEditarCantidadArticulo)
    </div>
</div>