﻿@model TarantoWebCatalogo.ViewModels.Pedidos.PedidoCreate
@{
    decimal precioTotal = 0;
}

@*<div id="modalAgregarArticulo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-big" style="width: 500px">
        <div class="modal-body">
            <div class="modal-content">


            </div>
        </div>
    </div>
</div>*@

<style>
    #scrollable-dropdown-menu .tt-dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Agregar artículo</h4>
</div>
<div class="modal-body" style="zoom: 80%">

    <form role="form" style="border-bottom: 0">
        <fieldset class="nobottommargin">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(p => p.Descripcion, new { id = "campoOcultoDescripcion" })
                    @Html.HiddenFor(p => p.PrecioUnitario, new { id = "campoOcultoPrecioUnitario" })
                    @Html.HiddenFor(p => p.Stock, new { id = "campoOcultoStock" })
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Articulo, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                <div id="scrollable-dropdown-menu">
                                    <input id="textBoxCodigo" class="typeahead-codigo form-control input-catalog" type="text" placeholder="Código">
                                </div>
                            </div>
                            <div class="col-md-1" id="cargaDeCombosSpin">
                                <img src="~/images/preloader.gif" alt="" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                <div id="scrollable-dropdown-menu">
                                    <input id="textboxDescripcion" class="typeahead-descripcion form-control input-catalog" type="text" placeholder="Descripcion">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Subtotal</label>
                            <div class="col-md-9" id="subtotal">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Stock</label>
                            <div class="col-md-9" id="stock">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Cantidad</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control input-catalog", id = "cantidad", min = "1" } })
                                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="btnAgregarArticulo" value="Agregar" class="btn btn-primary" />
                            <img class="hide" id="cargaSpinAgregarCarrito" src="~/images/preloader.gif" alt="" />
                        </div>
                    </div>
                </div>
            }

        </fieldset>
    </form>
</div>