﻿<div id="modalEditarCantidadArticulos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modifique la cantidad de artículos a solicitar</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label class="control-label">Cantidad de artículos actuales: <span id="spanCantidadActual"></span></label>
                    <input id="txtCantidadDeArticulos" name="Cantidad" class="form-control" type="number" min="1" max="999">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnActualizarCantidad" type="button" class="btn btn-primary">
                    Actualizar
                </button>
                <img id="editarCantidadDeArticulosSpin" src="~/images/preloader.gif" alt="spin"/>
            </div>
        </div>
    </div>
</div>

