﻿@{
    var codigoUsuario = SeguridadService.UsuarioLogueadoCodigo;
    var nombreUsuario = SeguridadService.NombreUsuario;
}

<div id="modalCotizador" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ajustes</h4>
            </div>
            <div class="modal-body">

                <p class="mt-0 mb-20"><strong class="small">Cliente: @codigoUsuario - @nombreUsuario</strong></p>

                <div id="settings_cart_form_result"></div>
                <form role="form" id="settings_cart_form">
                    <fieldset class="nobottommargin">

                        <label class="label-tnto no-link">Precios calculados para: </label>
                        <div>
                            <input type="radio" name="settings_cart_modo" id="settings_cart_modo_0" class="radio-style" checked="">
                            <label for="settings_cart_modo_0" class="radio-style-2-label radio-small label-tnto2">Carrito de compras</label>
                        </div>
                        <div>
                            <input type="radio" name="settings_cart_modo" id="settings_cart_modo_1" class="radio-style">
                            <label for="settings_cart_modo_1" class="radio-style-2-label radio-small label-tnto2">Cotizador a Clientes</label>
                        </div>

                        <div id="parametros-cotizador-clientes" class="mb-20 div-disabled">

                            <p class="mt-30 mb-10"><strong>Parámetros Cotizador a Cliente final</strong></p>

                            <div class="input-group input-block-level">
                                <label for="descuentoEspecial" class="label-tnto">% Descuento especial</label>
                                <input type="text" name="settings_cart_descuento" id="descuentoEspecial" class="form-control input-block-level modal-form" placeholder="Desc. Taranto"  maxlength="3">
                            </div>
                            <div class="input-group input-block-level">
                                <label for="descuentoProntoPago" class="label-tnto">% Descuento pronto pago</label>
                                <input type="text" name="settings_cart_prontopago" id="descuentoProntoPago" class="form-control input-block-level modal-form" placeholder="Desc. Pronto pago" maxlength="3">
                            </div>
                            <div class="input-group input-block-level">
                                <label for="margen" class="label-tnto">% Márgen</label>
                                <input type="text" name="settings_cart_margen" id="margen" class="form-control input-block-level modal-form" placeholder="Ganancia" maxlength="3">
                            </div>
                            <div class="input-group input-block-level">
                                <label for="iva" class="label-tnto">% IVA (al cliente final)</label>
                                <input type="text" name="settings_cart_iva" id="iva" class="form-control input-block-level modal-form" placeholder="ej: 21" maxlength="2">
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <button type="button" id="btnCotizadorGuardar" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                            Guardar
                        </button>
                        <input type="submit" class="hidden" value="Guardar">

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>