﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>

<div id="modalEliminarPedido" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-big">
        <div class="modal-body" style="width: 600px">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Eliminar pedido</h4>
                </div>
                <div class="modal-body">

                    <p class="mt-0 mb-20"><strong>¿Desea eliminar el pedido?</strong></p>

                    <a href="@Url.Action(MVC.Catalogo.Eliminar(Model.FirstOrDefault().IdPedido))" class="btn btn-danger nomargin btn-with-icon">
                        Eliminar pedido
                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>
