﻿@using System.Globalization
@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>
@{
    var codigoUsuario = SeguridadService.UsuarioLogueadoCodigo;
    var nombreUsuario = SeguridadService.NombreUsuario;
    decimal precioTotal = 0;
}

<div id="modalPedidoExcelValidado" class="modal-dialog modal-dialog-big">
        <div class="modal-body">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Realizar pedido</h4>
                </div>
                <div class="modal-body">

                    <p class="mt-0 mb-20"><strong class="small">Cliente: @codigoUsuario - @nombreUsuario</strong></p>

                    <form role="form">
                        <fieldset class="nobottommargin">
                            <table class="table table-hover small" id="tablaExcelPedidoConfirmar">
                                <thead>
                                <tr>
                                    <th class="tleft">Código</th>
                                    <th class="tleft hidden-xs">Descripción</th>
                                    <th class="tright">Precio unitario</th>
                                    <th class="tcenter">Cant.</th>
                                    <th class="tright">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    var descripcion = "";
                                    var subtotal = "";
                                    decimal precioFinal;
                                    if (item.Stock == "ROJO")
                                    {
                                        descripcion = " (Sin stock. A despachar en corto plazo)";
                                        precioFinal = 0;
                                    }
                                    else
                                    {
                                        precioFinal = item.PrecioFinal * item.Cantidad;
                                    }

                                    precioTotal += precioFinal;

                                    subtotal = precioFinal == 0 ? "-" : "$ " + precioTotal.ToString(CultureInfo.InvariantCulture);


                                    <tr class="true">
                                        <td class="tleft"><span class="color-rojo text-nowrap">@item.Articulo</span></td>
                                        <td class="tleft hidden-xs"><i>@item.Descripcion <span class="small color-rojo">@descripcion</span> </i></td>
                                        <td class="tright text-nowrap">$ @item.PrecioFinal</td>
                                        <td class="tcenter"><b class="small">@item.Cantidad</b></td>
                                        <td class="tright text-nowrap">@subtotal</td>
                                        <td class="hide">@item.Stock</td>
                                    </tr>
                                }
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th class="hidden-xs"></th>
                                    <th colspan="3" class="tright color-negro text-nowrap">TOTAL $ @($"{precioTotal:n}")</th>
                                </tr>
                                </tfoot>
                            </table>

                            <div class="input-group input-block-level">
                                <label  class="sr-only">Observaciones</label>
                                <textarea name="pedido_web_message" id="txtObservacionPedido" class="form-control input-block-level modal-form" rows="4" placeholder="Observaciones"></textarea>
                            </div>
                            
                            
                            <div class="row">
							<div class="col-md-8">
								@Html.ActionLink("Cancelar", MVC.Catalogo.PedidoPorExcel(0), new { @class = "btn btn-danger btn-large" })
							</div>
                                <div class="col-md-4">
                                        <img id="spinConfirmarExcel" src="~/images/preloader.gif" alt="preload" class="hide" />
                                    <button type="button" id="btnConfirmarPedido" class="btn btn-primary nomargin" autocomplete="off">
                                        Confirmar pedido
                                    </button>
                                </div>
						</div>
                            <input type="submit" class="hidden" value="Confirmar pedido">
                        </fieldset>
                    </form>
                    


                    <p class="mt-0 mb-0"><strong class="small">Los precios expresados aquí incluyen el descuento de lista y están calculados según el modo <span class="js_get_modo_carrito">Cotizador a Clientes</span>.</strong></p>
                    <p class="mt-0 mb-0"><strong class="small">Esta información queda sujeto a confirmación del área administración.</strong></p>
                </div>

            </div>
        </div>
    </div>