﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>
@{
    var codigoUsuario = SeguridadService.UsuarioLogueadoCodigo;
    var nombreUsuario = SeguridadService.NombreUsuario;
    decimal precioTotal = 0;
}

<div id="modalPreConfirmarPedido" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-big">
        <div class="modal-body">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Realizar pedido</h4>
                </div>
                <div class="modal-body">

                    <p class="mt-0 mb-20"><strong class="small">Cliente: @codigoUsuario - @nombreUsuario</strong></p>

                    <form role="form">
                        <fieldset class="nobottommargin">

                            <table class="table table-hover small" id="tablaPedidoConfirmar">
                                <thead>
                                    <tr>
                                        <th class="tleft">Código</th>
                                        <th class="tleft hidden-xs">Descripción</th>
                                        <th class="tright">Precio unitario</th>
                                        <th class="tcenter">Cant.</th>
                                        <th class="tright">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.PrecioUnitario != -1)
                                        {
                                            @Html.HiddenFor(p => item.IdPedido, new { id = "idPedidoSql" })
                                            var precioFinal = item.PrecioUnitario * item.Cantidad;
                                            precioTotal += precioFinal;

                                            <tr class="true" data-cod="@item.Articulo" data-cant="@item.Cantidad">
                                                <td class="tleft"><span class="color-rojo text-nowrap">@item.Articulo</span></td>
                                                <td class="tleft hidden-xs"><i>@item.Descripcion</i></td>
                                                <td class="tright text-nowrap">$ @($"{item.PrecioUnitario:n}")</td>
                                                <td class="tcenter"><b class="small">@item.Cantidad</b></td>
                                                <td class="tright text-nowrap">$ @($"{precioFinal:n}")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th class="hidden-xs"></th>
                                        <th colspan="3" class="tright color-negro text-nowrap">TOTAL $ @($"{precioTotal:n}")</th>
                                    </tr>
                                </tfoot>
                            </table>

                            <div id="realizarPedidoSpin">
                                <img src="~/images/preloader.gif" alt="" style="display: block; margin-left: auto; margin-right: auto "/>
                            </div>

                            <div id="divHabilitarPedido" class="hide">
                                <div class="input-group input-block-level" id="txtObservaciones">
                                    <label class="sr-only">Observaciones</label>
                                    <textarea name="pedido_web_message" id="txtObservacionPedido" class="form-control input-block-level modal-form" rows="4" placeholder="Observaciones"></textarea>
                                </div>

                                <div id="lblUsuarioBloqueado" class="hidden" style="padding: 0 5px; font-size: 13px;">
                                    <div class="alert bounceIn alert-danger mt-0 mb-0" role="alert">
                                        <strong>Cuenta Inhabilitada para la Web.</strong> <br>
                                        Para poder realizar un pedido, por favor, comunicarse con CEAC (centro de atención al cliente) 4135-9000 de 8 a 17hs.
                                    </div>
                                </div>


                                <button type="button" id="btnConfirmarPedido" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                    Confirmar pedido
                                </button>
                                <input type="submit" class="hidden" value="Confirmar pedido">
                            </div>
                        </fieldset>
                    </form>

                    <p class="mt-0 mb-0"><strong class="small">Los precios expresados aquí incluyen el descuento de lista y están calculados según el modo <span class="js_get_modo_carrito">Cotizador a Clientes</span>.</strong></p>
                    <p class="mt-0 mb-0"><strong class="small">Esta información queda sujeto a confirmación del área administración.</strong></p>

                </div>

            </div>
        </div>
    </div>
</div>
