﻿<div id="modalIrANuevoCatalogo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-body" style="width: 600px">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Importante</h4>
                </div>
                <div class="modal-body">

                    <p class="nuevo-catalogo-p"><strong>Este nuevo catálogo es solamente para consultas de artículos, si usted quiere hacer pedidos, consultar stock o precios ingresar con su código de cliente de manera habitual</strong></p>

                    <a href="@System.Configuration.ConfigurationManager.AppSettings["NuevoCatalogoUrl"]" class="btn btn-danger nomargin btn-with-icon">
                        Ir a nuevo Catálogo
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>
