﻿@using TarantoWebCatalogo.Localization

<div id="por-motor" class="tab-pane fade">
    <div id="filtros">
        <div class="promo-full fondo-gris">
            <div class="col_full clearfix center">
                <div class="container nobottommargin">
                    <div class="row">
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <select id="cboMarcaSeccionPorMotor" class="selectpicker" data-width="100%" data-live-search="false" data-dropup-auto="false" title="Marca"></select>
                        </div>
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <select id="cboCombustibleSeccionPorMotor" class="selectpicker" data-width="100%" data-live-search="false" data-dropup-auto="false" title="Combustible">
                                <option value="0">Seleccione Marca...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <select id="cboCilindradaSeccionPorMotor" class="selectpicker" data-width="100%" data-live-search="false" data-dropup-auto="false" title="Cilindrada">
                                <option value="0">Seleccione Combustible...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <select id="cboMotorSeccionPorMotor" class="selectpicker" data-width="100%" data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" data-live-search-normalize="true" data-dropup-auto="false" title="Motor">
                                <option value="0">Seleccione Cilindrada...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <select id="cboFamiliaSeccionPorMotor" class="selectpicker" data-width="100%" data-live-search="false" data-dropup-auto="false" title="Familia">
                                <option value="0">Seleccione Motor...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-2 topmargin-xs bottommargin-xs">
                            <button id="btnFiltrarSeccionMotor" data-loading-text="Cargando..." class="btn btn-block btn-default bg-taranto-red txt-white disabled">IR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="content">
        <div class="container clearfix topmargin-sm bottommargin-sm" id="seccionPorMotorApliqueTodosLosFiltros">
            <div class="heading-block center topmargin bottommargin">
                <h4 class="color-azul">
                    @Localization.ApliqueTodosLosFiltros
                </h4>
                <span class="linea"></span>
            </div>
        </div>
    </section>
</div>