﻿@using TarantoWebCatalogo.Localization

<div id="por-codigo" class="tab-pane fade">
    <div id="filtros">
        <div class="promo-full fondo-gris">
            <div class="col_full clearfix center">
                <div class="container nobottommargin">
                    <div class="row">

                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs col-lg-offset-3">
                            <div class="twitter-typeahead" style="position: relative; display: inline-block;">
                                <input type="text" id="textBoxCodigoSeccionPorCodigo" class="form-control input-catalog" placeholder="Escriba un código" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top;">
                                <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                                    <div class="tt-dataset">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <button id="btnFiltrarSeccionCodigo" data-loading-text="Cargando..." class="btn btn-block btn-default bg-taranto-red txt-white disabled">IR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container clearfix topmargin-sm bottommargin-sm" id="seccionPorCodigoApliqueTodosLosFiltros">
            <div class="heading-block center topmargin bottommargin">
                <h4 class="color-azul">
                    @Localization.BusquedaPorReferenciaTarantoCodigoOriginal
                </h4>
                <span class="linea"></span>
            </div>
        </div>
    </section>
</div>
