﻿<div id="avanzada" class="tab-pane fade">
    <div id="filtros">
        <div class="promo-full fondo-gris-oscuro">
            <div class="col_full clearfix center">
                <div class="container nobottommargin">
                    <div class="promo text-left" style="padding: 0 !important;">
                        <h2>Búsqueda rápida</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-9 topmargin-xs bottommargin-xs">
                            <input type="text" id="textBoxBusquedaRapidaSeccionPorAvanzada" class="form-control input-catalog" placeholder="Búsqueda por código, número, descripción, modelo y más…">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <button id="btnFiltrarBusquedaRapidaSeccionAvanzada" data-loading-text="Cargando..." class="btn btn-block btn-default bg-azul1 txt-white disabled">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="filtros">
        <div class="promo-full fondo-gris">
            <div class="col_full clearfix center">
                <div class="container nobottommargin">
                    <div class="promo text-left" style="padding: 0 !important;">
                        <h2>Búsqueda avanzada</h2>

                        <p class="bottommargin-xs color-azul">Complete al menos dos campos</p>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <select id="cboMarcaSeccionPorAvanzada" class="selectpicker" data-width="100%" data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" data-live-search-normalize="true" data-dropup-auto="false" title="Marca">
                                <option value="0">Cargando...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <input id="textBoxModeloSeccionPorAvanzada" type="text" class="form-control input-catalog" placeholder="Modelo. Ej: Fiesta SE Sedan">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <input id="textBoxCilindradaSeccionPorAvanzada" type="text" class="form-control input-catalog" placeholder="Cilindrada. Ej: 1388">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <select id="cboCombustibleSeccionPorAvanzada" class="selectpicker" data-width="100%" data-live-search="false" data-dropup-auto="false" title="Combustible">
                                <option value="0">Cargando...</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <input id="textBoxMotorSeccionPorAvanzada" type="text" class="form-control input-catalog" placeholder="Motor. Ej: EcoBoost">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <input id="textBoxCilindrosSeccionPorAvanzada" type="text" class="form-control input-catalog" placeholder="Cilindros. Ej: 8">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <input id="textBoxValvulasSeccionPorAvanzada" type="text" class="form-control input-catalog" placeholder="Válvulas. Ej: 12">
                        </div>
                        <div class="col-sm-6 col-lg-3 topmargin-xs bottommargin-xs">
                            <button id="btnFiltrarAvanzadaSeccionAvanzada" data-loading-text="Cargando..." class="btn btn-block btn-default bg-taranto-red txt-white">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
