﻿@using TarantoWebCatalogo.Localization

<div id="catalog" class="col_full common-height nobottommargin">
    <div class="catalog-title dark ohidden">
        <div>
            <h3 class="uppercase color-azul">
                @Localization.CatalogoDe <br><span style="font-weight: 600;">@Localization.Autopartes</span>
            </h3>
        </div>
    </div>
    <ul class="nav-tabs">
        <li class="dark ohidden bg-azul2">
            <a data-toggle="tab" href="#por-motor">
                <div>
                    <img src="~/images/icons/motor.png" width="90">
                    <h4 class="uppercase nobottommargin color-blanco" style="font-weight: 600;">
                        @Localization.PorMotor
                    </h4>
                    <p class="color-blanco">
                        @Localization.BusquePorTipoDeMotor
                    </p>
                </div>
            </a>
        </li>
        <li class="dark ohidden bg-azul1">
            <a data-toggle="tab" href="#por-marca">
                <div>
                    <img src="~/images/icons/marca.png" width="90">
                    <h4 class="uppercase nobottommargin color-blanco" style="font-weight: 600;">
                        @Localization.PorMarca
                    </h4>
                    <p class="color-blanco">
                        @Localization.BusquePorMarcaDeVehiculo
                    </p>
                </div>
            </a>
        </li>
        <li class="dark ohidden bg-azul2">
            <a data-toggle="tab" href="#por-codigo">
                <div>
                    <img src="~/images/icons/codigo.png" width="90">
                    <h4 class="uppercase nobottommargin color-blanco" style="font-weight: 600;">
                        @Localization.PorCodigo
                    </h4>
                    <p class="color-blanco">
                        @Localization.BusquedaPorReferenciaTarantoCodigoOriginal
                    </p>
                </div>
            </a>
        </li>
        <li class="dark ohidden bg-azul1">
            <a data-toggle="tab" href="#avanzada">
                <div>
                    <img src="~/images/icons/avanzada.png" width="90">
                    <h4 class="uppercase nobottommargin color-blanco" style="font-weight: 600;">
                        @Localization.Avanzada
                    </h4>
                    <p class="color-blanco">
                        @Localization.InicieUnaBusquedaConLosDatosQueConoce
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>