﻿@model List<TarantoWebCatalogo.ViewModels.BoletinLanzamiento.BoletinLanzamiento>

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Boletines lanzamiento";
}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Boletines / Lanzamientos</h3>
        <span class="linea"></span>
    </div>

    <!-- BOLETINES LANZAMIENTOS -->
    <div id="posts" class="post-grid grid-container clearfix pt-10" data-layout="fitRows" style="position: relative; height: 2600px;">

        @foreach (var item in Model)
        {
            var request = HttpContext.Current.Request;
            var appUrl = HttpRuntime.AppDomainAppVirtualPath;
            var baseUrl = $"{request.Url.Scheme}://{request.Url.Authority}{appUrl}";

            <input type="hidden" value="@baseUrl" id="baseUrlAdmin" />
            @*<span>@baseUrl</span>*@
            <div class="entry entry-releases clearfix" style="position: absolute; left: 0px; top: 10px;">
                <div class="entry-image">
                    <a href="@string.Concat(baseUrl,"WebAdmin/images/boletines/", item.Imagen.Replace(".jpg", ".pdf"))">
                        <div class="img-bg img-1x1 image_fade" style="background-image: url(@string.Concat(baseUrl,"WebAdmin/images/boletines/", item.Imagen)); opacity: 1;"></div>
                    </a>
                </div>
                <div class="entry-title">
                    <h2><a href="@string.Concat(baseUrl,"WebAdmin/images/boletines/", item.Imagen.Replace(".jpg", ".pdf"))">@item.TituloEs</a></h2>

                </div>
                <ul class="entry-meta clearfix">
                    <li>
                        <i class="icon-calendar3"></i> @item.FechaCreacion
                    </li>
                </ul>
                <div class="entry-content">
                    <a href="@string.Concat(baseUrl,"WebAdmin/images/boletines/", item.Imagen.Replace(".jpg", ".pdf"))" class="more-link">Ver más</a>
                </div>
            </div>
        }
    </div>


    <div class="clearfix bottommargin-sm"></div>

</div>