﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>
@using TarantoWebCatalogo.ViewModels.Pedidos
@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Carrito de compras";
}

<div class="heading-block topmargin-sm bottommargin-sm">
    <h3 class="color-azul nott">
        Carrito de compras
        <a class="btn-ajustes-carrito fright color-gris" href="#" data-toggle="modal" data-target="#modalCotizador" title="Ajustes modo Cotizador a Clientes">
            <small class="t400 ls0">Ajustes</small>
            <i class="icon-wrench"></i>
        </a>
    </h3>
    <span class="linea"></span>

    <p class="mt-20 mb-0">
        <strong class="small">
            Los precios expresados aquí incluyen el descuento de lista y están calculados según el modo
            <span>Carrito de compras</span>.
        </strong>
    </p>
</div>


@if (Model.Count() < 71)
{
    @Html.Partial(MVC.Catalogo.Views._ModalAgregarArticulo, new PedidoCreate { Cantidad = 1 })
}
else
{
    <p class="my-20 text-danger ">
        <strong class="i-medium">
            Se ha alcanzado el máximo de items permitidos para un pedido.
        </strong>
    </p>
}


@Html.Action("MostrarProducto", Model)

<div id="page-wrapper">
    <div class="container-fluid">
        @Html.Partial(MVC.Catalogo.Views._ModalCotizador)
    </div>
</div>

<div class="form-group">
    <div class="col-md-6">

    </div>

    @if (Model.Count() > 1)
    {
        <div class="col-md-3">
            <a href="#" data-toggle="modal" data-target="#modalPreConfirmarPedido" class="btn btn-success nomargin btn-with-icon">
                Realizar pedido
                <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" data-toggle="modal" data-target="#modalEliminarPedido" class="btn btn-danger nomargin btn-with-icon">
                Eliminar pedido
                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
            </a>
        </div>

        <div>
            <div class="container-fluid">
                @Html.Partial(MVC.Catalogo.Views._ModalPreConfirmarPedido)
                @Html.Partial(MVC.Catalogo.Views._ModalEliminarPedido)
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>var apiLocalUrl = '@ViewBag.ApiLocalUrl'</script>
    <script>var usuario = '@SeguridadService.UsuarioLogueadoCodigo';</script>
    <script>var baseUrl = '@ViewBag.BaseUrl'</script>
    <script src="~/Scripts/typeahead.js"></script>
    <script src="~/Scripts/CarritoDeCompras/carritoModel.js?v=2"></script>
    <script src="~/Scripts/CarritoDeCompras/carritoManager.js?v=3"></script>
    <script src="~/Scripts/CarritoDeCompras/carrito.js?v=3"></script>
    <script src="~/Scripts/CarritoDeCompras/Cotizador/cotizador.js?v=3"></script>
}
