﻿@model TarantoWebCatalogo.ViewModels.Pedidos.PedidoCreate

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Cargar pedido";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(p => p.Descripcion, new { id = "campoOcultoDescripcion" })
    @Html.HiddenFor(p => p.PrecioUnitario, new { id = "campoOcultoPrecioUnitario" })
    @Html.HiddenFor(p => p.Stock, new { id = "campoOcultoStock" })

    <div class="form-group">
        @Html.LabelFor(model => model.Articulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <div class="twitter-typeahead" style="position: relative; display: inline-block;">
                <input type="text" id="textBoxCodigo" name="Articulo" class="form-control input-catalog" placeholder="Escriba un código" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top;">
                <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                    <div class="tt-dataset">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="cargaDeCombosSpin">
            <img src="~/images/preloader.gif" alt="" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Descripción</label>
        <div class="col-md-10" id="descripcion">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Stock</label>
        <div class="col-md-1" id="stock">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Cantidad</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", id = "cantidad" } })
            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Subtotal</label>
        <div class="col-md-10" id="subtotal" style="font-family: Arial">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="btnAgregarArticulo" value="Agregar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", MVC.Catalogo.CarritoDeComprasIndex())
</div>


@section scripts
{
    <script> var apiLocalUrl = '@ViewBag.ApiLocalUrl'</script>
    <script>var usuario = '@SeguridadService.UsuarioLogueadoCodigo';</script>
    <script src="~/Scripts/CarritoDeCompras/carritoModel.js"></script>
    <script src="~/Scripts/CarritoDeCompras/carritoManager.js"></script>
    <script src="~/Scripts/CarritoDeCompras/carrito.js?v=3"></script>
}
