﻿<div class="stretched">
    <div id="pageCatalogo">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">CATÁLOGO</h1>
                <span>Taranto</span>
            </div>
        </section>
    </div>

    @Html.Partial(MVC.Catalogo.Views._Secciones)

    <div class="container-fluid" id="divAlertaErrorDeApi" style="display: none">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
                    <a href=""><strong>A ocurrido un error</strong> le solicitamos que vuelva a refrescar la página pulsando este mensaje.</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 center topmargin-xs bottommargin-xs" id="cargaDeCombosSpin">
        <img src="~/images/preloader.gif" alt="" />
    </div>

    <div class="tab-content">

        @Html.Partial(MVC.Catalogo.Views._PorMotor)

        @Html.Partial(MVC.Catalogo.Views._PorMarca)

        @Html.Partial(MVC.Catalogo.Views._PorCodigo)

        @Html.Partial(MVC.Catalogo.Views._PorAvanzada)
    </div>

    @Html.Partial(MVC.Catalogo.Views._Catalogo)

</div>

<script>

</script>

@section scripts
{
    <script>var apiUrl = '@ViewBag.ApiUrl'</script>
    <script>var apiLocalUrl = '@ViewBag.ApiLocalUrl';</script>
    <script>var esCliente = '@ViewBag.EsCliente';</script>
    <script>var usuario = '@SeguridadService.UsuarioLogueadoCodigo';</script>
    <script src="~/Scripts/Catalogo/catalogoModel.js"></script>
    <script src="~/Scripts/Catalogo/catalogoManager.js?v=7"></script>
    <script src="~/Scripts/Catalogo/SeccionesManagers/motorManager.js"></script>
    <script src="~/Scripts/Catalogo/SeccionesManagers/marcaManager.js"></script>
    <script src="~/Scripts/Catalogo/SeccionesManagers/codigoManager.js"></script>
    <script src="~/Scripts/Catalogo/SeccionesManagers/avanzadaManager.js"></script>
    <script src="~/Scripts/Catalogo/catalogo.js"></script>
}