﻿@model List<TarantoWebCatalogo.ViewModels.ListaDePrecios.ListaDePrecio>

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Lista de precios";
}


<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Lista de precios</h3>
        <span class="linea"></span>
    </div>

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th colspan="2" style="border-top: none !important;"><b class="small color-rojo"></b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><i>@item.NombreArchivo1.ToUpper()</i></td>
                    <td align="right">
                        <a href="https://www.taranto.com.ar/WebAdmin/images/listaDePrecios/@item.Archivo1" class="color-azul" style="margin-right: 10px;">Descargar</a>
                    </td>

                </tr>
                if (item.NombreArchivo2.Length > 0)
                {
                    <tr>
                        <td><i>@item.NombreArchivo2.ToUpper()</i></td>
                        <td align="right">
                            <a href="https://www.taranto.com.ar/WebAdmin/images/listaDePrecios/@item.Archivo2" class="color-azul" style="margin-right: 10px;">Descargar</a>
                        </td>
                    </tr>
                }

                if (item.NombreArchivo3.Length > 0)
                {
                    <tr>
                        <td><i>@item.NombreArchivo3.ToUpper()</i></td>
                        <td align="right">
                            <a href="https://www.taranto.com.ar/WebAdmin/images/listaDePrecios/@item.Archivo3" class="color-azul" style="margin-right: 10px;">Descargar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <thead>
            <tr>
                <th colspan="2" style="border: none !important; padding-bottom: 10px;"></th>
            </tr>
        </thead>
    </table>


    <div class="clearfix bottommargin-sm"></div>

</div>
