﻿@model List<TarantoWebCatalogo.ViewModels.BoletinLanzamiento.BoletinLanzamiento>

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Ofertas";
}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Boletines / Lanzamientos</h3>
        <span class="linea"></span>
    </div>

    <!-- BOLETINES LANZAMIENTOS -->
    <div id="posts" class="post-grid grid-container clearfix pt-10" data-layout="fitRows" style="position: relative; height: 2600px;">
        
        @foreach (var item in Model)
        {

            <div class="entry entry-releases clearfix" style="position: absolute; left: 0px; top: 10px;">
                <div class="entry-image">
                    <a href="http://200.41.234.45:8991/catalogo/documentoPdf?nombre=@item.Archivo">
                      <div class="img-bg img-1x1 image_fade" style="background-image: url(http://200.41.234.45:8991/catalogo/imagenBoletin?nombre=@item.Imagen); opacity: 1;"></div>
                    </a>
                </div>
                <div class="entry-title">
                    <h2><a href="http://200.41.234.45:8991/catalogo/documentoPdf?nombre=@item.Archivo">@item.TituloEs</a></h2>

                </div>
                <ul class="entry-meta clearfix">
                    <li>
                        <i class="icon-calendar3"></i> @item.FechaCreacion
                    </li>
                </ul>
                <div class="entry-content">
                    <a href="http://200.41.234.45:8991/catalogo/documentoPdf?nombre=@item.Archivo" class="more-link">Ver más</a>
                </div>
            </div>
        }
    </div>


    <div class="clearfix bottommargin-sm"></div>

</div>