﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoProcesadoDetail>

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Pedidos";
}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Mis pedidos</h3>
        <span class="linea"></span>
    </div>

    @*<div class="select-filter topmargin-sm">
        <div class="btn-group bootstrap-select form-control input-block-level" style="width: 100%;">
            <button type="button" class="btn dropdown-toggle bs-placeholder fondo-gris" data-toggle="dropdown" role="button" title="Filtrar.." aria-expanded="false"><span class="filter-option pull-left">Filtrar..</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox" style="max-height: 662px; overflow: hidden; min-height: 135px;"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" placeholder="Buscar..." role="textbox" aria-label="Search"></div><ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 607px; overflow-y: auto; min-height: 80px;"><li data-original-index="1"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1117765 | Origen: WEB<small class=&quot;text-muted&quot;>Fecha Pedido: 27 Nov 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1117765 | Origen: WEB<small class="text-muted">Fecha Pedido: 27 Nov 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1116526 | Origen: WEB<small class=&quot;text-muted&quot;>Fecha Pedido: 16 Nov 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1116526 | Origen: WEB<small class="text-muted">Fecha Pedido: 16 Nov 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1116340 | Origen: WEB<small class=&quot;text-muted&quot;>Fecha Pedido: 13 Nov 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1116340 | Origen: WEB<small class="text-muted">Fecha Pedido: 13 Nov 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1072025 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Feb 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1072025 | Origen: XLS<small class="text-muted">Fecha Pedido: 21 Feb 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1072024 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Feb 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1072024 | Origen: XLS<small class="text-muted">Fecha Pedido: 21 Feb 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1072023 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Feb 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1072023 | Origen: XLS<small class="text-muted">Fecha Pedido: 21 Feb 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1072022 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Feb 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1072022 | Origen: XLS<small class="text-muted">Fecha Pedido: 21 Feb 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1071325 | Origen: WEB<small class=&quot;text-muted&quot;>Fecha Pedido: 14 Feb 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1071325 | Origen: WEB<small class="text-muted">Fecha Pedido: 14 Feb 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1066969 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 14 Ene 2020</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1066969 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 14 Ene 2020</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1055074 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 29 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1055074 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 29 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1053592 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1053592 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 21 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" data-normalized-text="Nro. Pedido:  | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 21 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido:  | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 21 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1052459 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 11 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1052459 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 11 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1050643 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 1 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1050643 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 1 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1050620 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 1 Oct 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1050620 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 1 Oct 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1046899 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 9 Sep 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1046899 | Origen: XLS<small class="text-muted">Fecha Pedido: 9 Sep 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="17"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1046898 | Origen: RAPIDA<small class=&quot;text-muted&quot;>Fecha Pedido: 9 Sep 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1046898 | Origen: RAPIDA<small class="text-muted">Fecha Pedido: 9 Sep 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="18"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1046730 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 6 Sep 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1046730 | Origen: XLS<small class="text-muted">Fecha Pedido: 6 Sep 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="19"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1046729 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 6 Sep 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1046729 | Origen: XLS<small class="text-muted">Fecha Pedido: 6 Sep 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="20"><a tabindex="0" class="" data-normalized-text="Nro. Pedido: 1046291 | Origen: XLS<small class=&quot;text-muted&quot;>Fecha Pedido: 3 Sep 2019</small>" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nro. Pedido: 1046291 | Origen: XLS<small class="text-muted">Fecha Pedido: 3 Sep 2019</small></span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker form-control input-block-level" data-style="fondo-gris" data-width="100%" data-dropup-auto="false" title="Filtrar.." data-live-search="true" data-live-search-normalize="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" tabindex="-98">
                <option class="bs-title-option" value="">Filtrar..</option>
            </select>
        </div>
    </div>*@

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th>Nro. Pedido</th>
                <th>Fecha Pedido</th>
                <th>Origen</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><span class="color-rojo">@item.IdOracle</span></td>
                    <td><b class="small">@item.FechaCreacion.ToString("dd MMMM yyyy")</b></td>
                    <td>@item.Origen</td>
                    <td>Enviado correctamente</td>
                    <td><i>@item.Observacion</i></td>
                    <td align="right">
                        <a href="@Url.Action(MVC.Catalogo.PedidoDetalleArticulos(item.Id, item.FechaCreacion.ToString("dd MMMM yyyy"), item.Observacion, item.Origen, item.IdOracle.Value))" class="color-azul">Ver más</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>


    <div class="clearfix bottommargin-sm"></div>

</div>