﻿@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoProcesadoItemDetail>

@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "DetallePedido";
    var razonSocial = SeguridadService.NombreUsuario;
    var codigoCliente = SeguridadService.UsuarioLogueadoCodigo;
    int contador = 0;
}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height" style="overflow-x: scroll;">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Detalle del pedido</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12">
        <p class="mt-0 mb-0"><strong class="small">Cliente: @codigoCliente, @razonSocial</strong></p>
    </div>
    <div class="col-sm-4">
        <p class="mt-0 mb-0"><strong class="small">Origen: @ViewBag.Origen</strong></p>
    </div>
    <div class="col-sm-4">
        <p class="mt-0 mb-0"><strong class="small">Fecha: @ViewBag.Fecha</strong></p>
    </div>
    <div class="col-sm-4">
        <p class="mt-0 mb-0"><strong class="small">Nro. Pedido: @ViewBag.IdOracle</strong></p>
    </div>
    <div class="col-sm-4">
        <p class="mt-0 mb-0"><strong class="small">Estado: Enviado correctamente</strong></p>
    </div>
    <div class="col-sm-8">
        <p class="mt-0 mb-0"><strong class="small">Observaciones: @ViewBag.Observacion</strong></p>
    </div>

    <div class="clearfix"></div>

    <table class="table table-hover topmargin-sm bottommargin-sm">
        <thead>
            <tr>
                <th class="tcenter">#</th>
                <th class="tleft">Código</th>
                <th class="tleft hidden">Modelo</th>
                <th class="tleft">Descripción</th>
                <th class="tcenter">Cant.</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            contador += 1;
            <tr>
                <td class="tcenter">@contador<b class="small"></b></td>
                <td class="tleft"><span class="color-rojo">@item.Articulo</span></td>
                <td class="tleft hidden"><i></i></td>
                <td class="tleft"><i>@item.Descripcion</i></td>
                <td class="tcenter"><b class="small">@item.Cantidad</b></td>
            </tr>
        }
        </tbody>
    </table>



    <div class="clearfix bottommargin"></div>

</div>