﻿@using TarantoWebCatalogo.ViewModels.Pedidos
@model IEnumerable<TarantoWebCatalogo.ViewModels.Pedidos.PedidoDetail>
@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Pedido excel";

}

<div class="postcontent nobottommargin nobottomborder col_last clearfix content-min-height">

    <div class="heading-block topmargin-sm bottommargin-sm">
        <h3 class="color-azul nott">Pedido por excel</h3>
        <span class="linea"></span>
    </div>

    <div class="clearfix bottommargin-sm"></div>
    @if (ViewBag.ProcessStatus == 1)
    {
        <div class="alert bounceIn alert-success alert-dismissible mt-20 " role="alert" id="divPedidoCargadoCorrectamente">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Pedido cargado correctamente..</strong>
        </div>
    }else if (ViewBag.ProcessStatus == 2)
    {
        <div class="alert bounceIn alert-danger alert-dismissible mt-20 " role="alert" id="divPedidoFalloCargaPedido">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>El pedido no pudo ser cargado, por favor vuelva a intentarlo</strong>
        </div>
    }

    @if (Model == null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Para subir un archivo Excel, cargar en la primera columna el código del artículo y en la segunda la cantidad a pedir. <br>
            Guardar el archivo con cualquier nombre.xlsx <br>
            Máximo 70 líneas. <br>
            <br>
            Ejemplo:
            <img src="~/images/demo_pedido_xls.jpg" class="img-responsive" style="margin-top: 5px;" alt="demo excel">
        </div>
    }


    @using (Html.BeginForm("PedidoPorExcel", "Catalogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (Model != null)
        {
            @Html.Partial(MVC.Catalogo.Views._ModalPedidoExcelValidado, Model)
        }
        else
        {
            if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-danger alert-dismissible center" role="alert">
                    @Html.Raw(ViewBag.Mensaje)
                </div>
            }
            <input type="file" name="archivoExcel" />
            <br />
            <input id="btnValidarExcel" type="submit" class="btn btn-primary nomargin btn-with-icon" value="Validar excel">
        }

        <img id="validarExcelSpin" src="~/images/preloader.gif" alt="spin" class="hide"/>
    }
</div>


@section scripts
{
    <script>var apiLocalUrl = '@ViewBag.ApiLocalUrl'</script>
    <script>var usuario = '@SeguridadService.UsuarioLogueadoCodigo';</script>
    <script src="~/Scripts/PedidoExcel/pedidoExcel.js"></script>
}