﻿<div class="col_half col_last">
    <div class="widget clearfix">
        <p class="footer-list leftmargin-lg">
            <i class="icon-mail color-azul"></i>
            <a href="mailto:info@taranto.com.ar" target="_blank" class="leftmargin-min">info@taranto.com.ar</a>
            <br>
            <i class="icon-linkedin color-azul"></i>
            <a href="https://ar.linkedin.com/company/taranto.argentina" target="_blank" class="leftmargin-min">Linkedin</a>
            <br>
            <i class="icon-youtube color-azul"></i>
            <a href="https://www.youtube.com/channel/UCC1U17tQg9sB5OW-fJ_ZO6g" target="_blank" class="leftmargin-min">YouTube</a>
            <br>
            <i class="icon-facebook color-azul"></i>
            <a href="https://www.facebook.com/TarantoArgentina/" target="_blank" class="leftmargin-min">Facebook</a>
            <br>
            <i class="icon-instagram2 color-azul"></i>
            <a href="https://www.instagram.com/tarantoargentina/" target="_blank" class="leftmargin-min">Instagram</a>
        </p>
    </div>
</div>
