﻿<div class="col_half">
    <div class="widget contact-widget clearfix">
        <div id="contact_form_result"></div>
        <form role="form" id="contact_form">
            <fieldset class="nobottommargin">
                <div class="input-group input-block-level">
                    <label for="contact_subject" class="sr-only">Motivo de Consulta</label>
                    <select name="contact_subject" id="contact_subject" class="selectpicker form-control input-block-level" data-style="fondo-gris" data-live-search="false" title="Motivo de Consulta" required>
                        <option value="Consulta">Consulta</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Soporte">Soporte</option>
                        <option value="Proveedores">Proveedores</option>
                    </select>
                </div>
                <div class="input-group input-block-level">
                    <label for="contact_country" class="sr-only">Sede</label>
                    <select name="contact_country" id="contact_country" class="selectpicker form-control input-block-level" data-style="fondo-gris" data-live-search="false" title="Sede" required>
                        <option value="Argentina">Argentina</option>
                        <option value="México">México</option>
                        <option value="Brasil">Brasil</option>
                    </select>
                </div>
                <div class="input-group input-block-level">
                    <label for="contact_name" class="sr-only">Nombre y Apellido</label>
                    <input type="text" name="contact_name" id="contact_name" class="form-control input-block-level fondo-gris" maxlength="80" placeholder="Nombre y Apellido" required>
                </div>
                <div class="input-group input-block-level">
                    <label for="contact_email" class="sr-only">Email</label>
                    <input type="email" name="contact_email" id="contact_email" class="form-control input-block-level fondo-gris" maxlength="80" placeholder="Email" required>
                </div>
                <div class="input-group input-block-level">
                    <label for="contact_tel" class="sr-only">Teléfono</label>
                    <input type="text" name="contact_tel" id="contact_tel" class="form-control input-block-level fondo-gris" maxlength="30" placeholder="Teléfono">
                </div>
                <div class="input-group input-block-level">
                    <label for="contact_message" class="sr-only">Consulta</label>
                    <textarea name="contact_message" id="contact_message" class="form-control input-block-level short-textarea fondo-gris" rows="4" placeholder="Consulta" required></textarea>
                </div>
                <button type="button" id="btnContact" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                    Enviar
                </button>
                <input type="submit" class="hidden" value="Enviar">
            </fieldset>
        </form>
    </div>
</div>