﻿<div id="mapas" class="container clearfix topmangin bottommargin">
    <div class="mapas col_one_third">
        <h4>Argentina</h4>
        <span>Oficina Principal</span>
        <div class="topmargin-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.226530477354!2d-58.39203208514634!3d-34.67423176873878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcccbc1c06a7e5%3A0x51f436c3617da8f9!2sMario+Bravo+641%2C+Pi%C3%B1eiro%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1512135782038" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p class="topmargin-sm">
            <i class="icon-map-marker color-azul"></i> 
            <span class="leftmargin-min">Mario Bravo 641, Avellaneda, Bs As, Argentina</span>
            <br>
            <i class="icon-phone color-azul"></i> 
            <a href="tel:+5491141359000" target="_blank" class="leftmargin-min">(54)(011) 4135-9000</a>
        </p>
        <h5 class="topmargin-sm nobottommargin">Centro de Atencion al Cliente</h5>
        <p class="notopmargin">
            <i class="icon-phone color-azul"></i> 
            <a href="tel:+5491154763306" target="_blank" class="leftmargin-min">(54) 11-5476-3306</a>
        </p>
    </div>

    <div class="mapas col_one_third">
        <h4>México</h4>
        <span>Unidad Distribuidora de México (UDM)</span>
        <div class="topmargin-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.6390970213297!2d-99.52799851547815!3d19.29805471264014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cdf5412d88f4f5%3A0x96aba114becfd41e!2sSta.+Ana+36%2C+Isidro+Fabela%2C+52004+Lerma+de+Villada%2C+M%C3%A9x.%2C+M%C3%A9xico!5e0!3m2!1ses!2sar!4v1512136816630" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p class="topmargin-sm">
            <i class="icon-map-marker color-azul"></i> 
            <span class="leftmargin-min">Privada Santa Ana 36 Mz. C, Lote 2 y 3. Parque Industrial Lerma. Estado de México</span>
            <br>
            <i class="icon-phone color-azul"></i> 
            <a href="tel:+527225084040" target="_blank" class="leftmargin-min">(52)(722) 5084040</a>
            <br>
            <i class="icon-phone color-azul"></i> 
            <a href="tel:+527222854145" target="_blank" class="leftmargin-min">(52)(722) 2854145</a>
        </p>
    </div>
    <div class="mapas col_one_third col_last">
        <h4>Brasil</h4>
        <span>Unidad Distribuidora de Brasil (UDB)</span>
        <div class="topmargin-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.854600808429!2d-46.75566308549292!3d-23.501746065277537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefece6f035d41%3A0x177b40bba9f53308!2sR.+Ja%C3%ADr+Afonso+In%C3%A1cio%2C+820+-+Jardim+Santo+Elias%2C+S%C3%A3o+Paulo+-+SP%2C+Brasil!5e0!3m2!1ses!2sar!4v1512137256151" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p class="topmargin-sm">
            <i class="icon-map-marker color-azul"></i> 
            <span class="leftmargin-min">Rua Jair Afonso Inácio, 820, San Pablo/SP, Brasil.</span>
            <br>
            <i class="icon-phone color-azul"></i> 
            <a href="tel:+00551139019090" target="_blank" class="leftmargin-min">(0055) 11 3901-9090</a>
            <br>
            <i class="icon-print color-azul"></i> 
            <a href="tel:+00551139036888" target="_blank" class="leftmargin-min">(0055) 11 3903-6888</a>
        </p>
    </div>
</div>
