﻿@using TarantoWebCatalogo.Localization;

<div class="stretched">
    <div id="pageContacto">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Contacto</h1>
                <span>
                    @Localization.ContactateConTaranto
                </span>
            </div>
        </section>
    </div>

    <section id="content" class="topmargin">
        <div class="container clearfix bottommargin">
            <div class="heading-block">
                <h3 class="color-azul capitalize">Formulario de consultas</h3>
                <span class="linea"></span>
            </div>
            <div class="footer-widgets-wrap clearfix">
                @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                {
                    <div class="alert bounceIn alert-success alert-dismissible mt-20" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>@ViewBag.Mensaje</strong>
                    </div>
                }
                <strong>@ViewBag.Mensaje</strong>

                @Html.Partial(MVC.Contacto.Views._Formulario)
                @Html.Partial(MVC.Contacto.Views._Enlaces)
            </div>
        </div>
        @Html.Partial(MVC.Contacto.Views._Mapas)
        @Html.Partial(MVC.Shared.Views._SuscribiteNewsletter)
        @Html.Partial(MVC.Shared.Views._Convertirte_distribuidor)
        @Html.Partial(MVC.Shared.Views._IngresaCv)
    </section>
</div>

@section scripts
{
    <script src="~/Scripts/Contacto/Contacto.js"></script>
}