﻿@model Taranto.ViewModels.ListaDePreciosVMItem

@{
    ViewBag.Title = "LISTA DE PRECIOS > NUEVA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("Add", "ListaDePrecios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="tab-content">
    @Html.HiddenFor(model => model.Id)

    @Html.EditorFor(model => model.FechaCreacion)

    <div class="form-group">
        <label for="name_file1">Título 1</label>
        @Html.EditorFor(model => model.NombreArchivo1, new { htmlAttributes = new { @class = "form-control" } })
    </div>
        
    @Html.EditorFor(model => model.Archivo1, new { Label = "Archivo Adjunto 1", Id = "Archivo1" })

    <div class="form-group">
        <label for="name_file1">Título 2</label>
        @Html.EditorFor(model => model.NombreArchivo2, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    
    @Html.EditorFor(model => model.Archivo2, new { Label = "Archivo Adjunto 2", Id = "Archivo2" })
    
    <div class="form-group">
        <label for="name_file1">Título 3</label>
        @Html.EditorFor(model => model.NombreArchivo3, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.EditorFor(model => model.Archivo3, new { Label = "Archivo Adjunto 3", Id = "Archivo3" })

</div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Add">
    </div>
}