﻿
@model  Taranto.ViewModels.ListaDePreciosVM
@{
    ViewBag.Title = "LISTA DE PRECIOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>
            <a href="ListaDePrecios/Add" class="btn btn-default">Cargar nueva <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
            <div class="clearfix"></div>
            <div class="select-article mt-20">
                <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Filtrar..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
                    @{
                        if (Model == null) { return; }
                        foreach (var item in Model.Items)
                        {
                            <option value="@item.Id" class="text-uppercase">@item.FechaCreacion.ToString("dd MMMM yyyy") | @item.NombreArchivo1 | @item.NombreArchivo2 | @item.NombreArchivo3</option>
                        }
                    }
                </select>
            </div>

            @{

                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div id="article-@item.Id" class="article mt-30">
                        <div class="article-content">
                            <h4><strong>@item.FechaCreacion.ToString("dd MMMM yyyy")</strong></h4>
                            <p class="font-regular">@item.NombreArchivo1</p>
                            <p class="font-regular">@item.NombreArchivo2</p>
                            <p class="font-regular">@item.NombreArchivo3</p>
                        </div>
                        <div class="clearfix"></div>

                        <a href="@Url.Action("Edit", "ListaDePrecios", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='ListaDePrecios/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                    </div>
                }
            }

        </div>
    </div>

</section>

