﻿@model Taranto.ViewModels.BoletinesVMItem

@{
    ViewBag.Title = "BOLETINES > EDICION";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("Edit", "Boletines", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="tab-content">
    @Html.EditorFor(model => model.FechaCreacion)

    @Html.EditorFor(model => model.Titulo)

    @Html.EditorFor(model => model.Imagen, new { Id = "Imagen" })
    @Html.EditorFor(model => model.Archivo, new { Label = "Archivo Adjunto", Id = "Archivo" })

</div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
