﻿@model TarantoWebCatalogo.ViewModels.RecursosHumanos.Index

<div class="fondo-gris-claro">
    <div class="container clearfix">
        <div class="heading-block topmargin">
            <h3 class="color-azul capitalize">Búsquedas Activas</h3>
            <span class="linea"></span>
        </div>
        <table class="table table-hover bottommargin">
            <thead>
                <tr>
                    <th>Función</th>
                    <th>Equipo</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Busquedas)
                {
                    <tr>
                        <td>@item.Funcion</td>
                        <td>@item.Equipo</td>
                        <td>@item.Ciudad</td>
                        <td align="right"><a href="#" class="color-azul" data-toggle="modal" data-target="#detail-@item.Id">Ver Detalle</a></td>
                        <td><a href="#" class="color-rojo btn-postulate" data-toggle="modal" data-target="#rrhh-modal" data-rrhh-search-id="@item.Id" data-rrhh-search-function="@item.Funcion" data-rrhh-search-team="@item.Equipo" data-rrhh-search-city="@item.Ciudad">Postularme</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@foreach (var item in Model.Busquedas)
{
    <div class="modal fade" id="detail-@item.Id" tabindex="-1" role="dialog" aria-labelledby="detail-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="detail-modal-label">Búsquedas Activas</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Función</th>
                                    <th>Equipo</th>
                                    <th>Ciudad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>@item.Funcion</td>
                                    <td>@item.Equipo</td>
                                    <td>@item.Ciudad</td>
                                    <td><a href="#" class="color-rojo btn-postulate" data-dismiss="modal" data-toggle="modal" data-target="#rrhh-modal" data-rrhh-search-id="@item.Id" data-rrhh-search-function="@item.Funcion" data-rrhh-search-team="@item.Equipo" data-rrhh-search-city="@item.Ciudad">Postularme</a></td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="notopmargin nobottommargin wysiwyg">
                            @Html.Raw(item.Descripcion)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
