﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.PaginasInstitucionales.PaginaInstitucional

<div class="stretched">
    <div id="pageCalidadSeguridad">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Empresa</h1>
                <span>@Localization.CalidadSeguridadyMedioAmbiente</span>
            </div>
        </section>
    </div>
    <section id="content" class="topmargin">
        <div class="container clearfix bottommargin">
            <div class="notopmargin nobottommargin wysiwyg">
                @Html.Raw(Model.Descripcion)
            </div>
        </div>
    </section>
</div>