﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.RecursosHumanos.Index

<div class="stretched">
    <div id="pageRrhh">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Empresa</h1>
                <span>@Localization.RRHH</span>
            </div>
        </section>
    </div>
    <section id="content" class="topmargin">
        @if (ViewBag.Mensaje != null)
        {
            if (ViewBag.Mensaje.Contains("exitosamente") == true)
            {
                <div class="alert alert-success alert-dismissible center" role="alert">
                    @Html.Raw(ViewBag.Mensaje)
                </div>
            }else
            {
                <div class="alert alert-danger alert-dismissible center" role="alert">
                    @Html.Raw(ViewBag.Mensaje)
                </div>
            }
        }

        <div class="container clearfix bottommargin">
            <div class="notopmargin nobottommargin wysiwyg">
                @Html.Raw(Model.PaginaInstitucional.Descripcion)
            </div>
        </div>

        @Html.Partial(MVC.Shared.Views._IngresaCv)

        @if (Model.Busquedas.Count > 0)
        {
            @Html.Partial(MVC.PaginaInstitucional.Views._BusquedaRecursosHumanos, Model)
        }
    </section>
</div>



@*@section scripts
{

    <script>var apiLocalUrl = '@ViewBag.ApiLocalUrl';</script>
    <script src="~/Scripts/Rrhh/EnviarCV.js"></script>
}*@