﻿@model Taranto.ViewModels.ProductoViewModelItem

@{
    ViewBag.Title = "PRODUCTOS > EDITAR";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="tab-content">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="select-article mt-20">
        <select name="IdCategoria" id="IdCategoria" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
            @{
                if (Model == null) { return; }
                foreach (var item in ViewBag.CategoriasList)
                {
                    <option id="@item.Value"  selected="@item.Selected" value="@item.Value" class="text-uppercase">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control summernote" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

