﻿@model  Taranto.ViewModels.ProductoViewModel
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

<a href="@Url.Action("Add", "Productos")" class="btn btn-default mt-10">Cargar nuevo <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>

<div class="select-article mt-20">
        <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
            @{
                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <option value="@item.Id" class="text-uppercase">@item.ProductoCategoria.Detalle | @item.Titulo</option>
                }
            }
        </select>
 </div>
    @{
        if (Model == null) { return; }
        foreach (var item in Model.Items)
        {
            <div id="article-@item.Id" class="article mt-30">
                <div class="article-content">
                    <h4 class="font-regular">@item.ProductoCategoria.Detalle | @item.Titulo</h4>
                </div>
                <div class="clearfix"></div>

                <a href="@Url.Action("Edit", "Productos", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Productos/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
    }


