﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taranto - Panel Admin</title>



    @Scripts.Render("~/bundles/jquery")
    
    @Styles.Render("~/Content/css/datepicker.min.css")

    @Styles.Render("~/Content/css/summernote.css")


    @Styles.Render("~/Content/css/backend-main-1.2.min.css")
    @Styles.Render("~/Content/css/basic-1.2.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.datepicker.min.js"></script>

    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <!-- LOADING -->
    <div id="loading" style="display: none;">
        <div class="css3-spinner">
            <div class="css3-spinner-bounce1"></div>
            <div class="css3-spinner-bounce2"></div>
            <div class="css3-spinner-bounce3"></div>
        </div>
    </div>

    <!-- NAV -->

    <nav class="navbar navbar-fixed-top">
        <section class="container clearfix">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">
                    <h1>Taranto</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "SliderHome")">Slider Home</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Categorias")">Categorías</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Productos")">Productos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Novedades")">Novedades</a></li>
                            <li><a href="@Url.Action("Index", "CategoriasNovedades")">Novedades &gt; Categorías</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Institucionales")">Secciones institucionales</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Info")">Sub páginas de información</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "RRHH")">RRHH &gt; Búsquedas Activas</a></li>
                            <li role="separator" class="divider"></li>
                            @*<li><a href="@Url.Action("Index", "Revista")">Revista Juntando Partes</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">General <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Consultas")">Consultas</a></li>
                            <li><a href="@Url.Action("Index", "Suscriptos")">Suscriptos Newsletter</a></li>
                            <li><a href="@Url.Action("Index", "RRHHPostulaciones")">CV RRHH / Postulaciones</a></li>
                            <li><a href="@Url.Action("Index", "NuevosDistribuidores")">Nuevos distribuidores</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Estadisticas")">Google Analytics</a></li>
                            <li><a href="@Url.Action("Index", "Estadisticas")">Add This</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extranet <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "CtaCteComprobantes")">Cuenta Corriente &gt; Comprobantes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "SolicitudEditarDatos")">Solicitud de editar datos / Cargar fotos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Sugerencias")">Sugerencias</a></li>
                            <li><a href="@Url.Action("Index", "SugerenciasCategorias")">Sugerencias &gt; Categorías</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Reclamos")">Reclamos</a></li>
                            <li><a href="@Url.Action("Index", "ReclamosCategorias")">Reclamos &gt; Categorías</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Boletines")">Boletines / Lanzamientos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Ofertas")">Ofertas</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "ListaDePrecios")">Lista de precios</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "DatosCuentasBancarias")">Datos de cuentas bancarias</a></li>
                        </ul>
                    </li>
                    <li class="logout"><a href="@Url.Action("Index", "Logout")" title="Logout"><span class="glyphicon glyphicon-off txt-red big" aria-hidden="true"></span><strong>Logout</strong></a></li>
                </ul>
            </div>

        </section>
    </nav>

    <!-- HEADER -->
    <!-- FOOTER -->
    <footer>
        <section class="container clearfix">

            <div class="row pt-30 pb-30">
                <div class="col-xs-12">

                </div>
            </div>

        </section>
    </footer>
    <div class="container body-content">
        @RenderBody()

        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)


    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="~/Content/js/plugins/jquery.bootstrap.js"></script>
    <script src="~/Content/js/components/bs-select.js"></script>
    <script src="~/Content/js/components/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/summernote.min.js"></script>
    <script src="~/Content/js/lang/summernote-es-ES.js"></script>
    <script src="~/Content/js/backend-valid-forms-1.3.min.js"></script>
    <script src="~/Content/js/backend-settings-1.3.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</body>
</html>
