﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<ul class="nav nav-tabs tabs-idioma">
    <li>
        <a href="#tab-br" data-toggle="tab" class="small text-center">Português</a>
    </li>
    <li>
        <a href="#tab-en" data-toggle="tab" class="small text-center">English</a>
    </li>
    <li class="active">
        <a href="#tab-es" id="spanish-tab" data-toggle="tab" class="small text-center">Español</a>
    </li>
</ul>
@RenderBody()

<script>
    $(function () {
        $("#spanish-tab").click();
    })
</script>