﻿@model Taranto.ViewModels.NovedadesViewModelItem

@{
    ViewBag.Title = "NOVEDADES > EDICION";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("Edit", "Novedades", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="tab-content">
    @Html.EditorFor(model => model.Fecha)
    <div class="form-group">
        <label>Categoria</label>
        <select name="IdCategoria" id="IdCategoria" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Seleccione..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
            @{
                if (Model == null) { return; }
                foreach (var item in ViewBag.CategoriasList)
                {
                    <option id="@item.Value" value="@item.Value" selected="@item.Selected" class="text-uppercase">@item.Text</option>
                }
            }
        </select>
    </div>

    @Html.EditorFor(model => model.Titulo)
    @Html.EditorFor(model => model.Subtitulo)
    @Html.EditorFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Image, new { Label = "Imagen Portada" })
    <div class="form-group">
        <div class="form-group">
            <label>Galeria <span class="glyphicon glyphicon-question-sign txt-blue" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Formato: .jpg, - Dimensiones aproximadas deseadas: 1920x1080 píxeles. -> Herramienta online para achicar sus fotos: www.achicarimagenes.com.ar"></span></label>
            <input type="file" multiple name="Galeria.file" class="filestyle attachment-img" data-buttonName="btn-default" id="Galeria.file"
                   data-buttonText="Examinar (multiple)" @Html.Raw(Model.Galeria != null ? Model.Galeria.File != null ? "data-placeholder=" + Model.Galeria.File[0].FileName : "data-placeholder=" + Model.Galeria.imagePath : "")>
        </div>
    </div>

    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
</div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
