﻿
@model  Taranto.ViewModels.NovedadesViewModel
@{
    ViewBag.Title = "Novedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>
            <a href="novedades/add" class="btn btn-default">Cargar nueva <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
            <div class="clearfix"></div>
            <div class="select-article mt-20">
                <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Filtrar..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
                    @{
                        if (Model == null) { return; }
                        foreach (var item in Model.Items)
                        {
                            <option value="@item.Id" class="text-uppercase">@item.Fecha.ToString("dd MMMM yyyy") | @item.Titulo</option>
                        }
                    }
                </select>
            </div>

            @{
                var request = HttpContext.Current.Request;
                var appUrl = HttpRuntime.AppDomainAppVirtualPath;
                var baseUrl = $"{request.Url.Scheme}://{request.Url.Authority}{appUrl}";
                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div id="article-@item.Id" class="article mt-30">
                        <div class="article-image" style="background-image: url(@string.Concat(baseUrl, item.Image.ToString())));"></div>
                        <div class="article-content">
                            <h4 class="font-regular">@item.Titulo</h4>
                            <p><strong>@item.Fecha.ToString("dd MMMM yyyy")</strong></p>
                        </div>
                        <div class="clearfix"></div>

                        <a href="@Url.Action("Edit", "Novedades", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Novedades/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                    </div>
                }
            }

        </div>
    </div>

</section>

