﻿@model TarantoWebCatalogo.ViewModels.Home.HomeIndex

<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">

                @foreach (var item in Model.ContenidoCarrousel)
                {
                    <div class="swiper-slide dark" style="background-image: url(//www.taranto.com.ar/WebAdmin/images/sliderHome/@item.Imagen);">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-caption-animate="fadeInUp">@item.Titulo</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">@item.SubTitulo</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
