﻿@{
    var usuarioLogeado = SeguridadService.HayUsuarioLogueado;
    var catalogoUrl = System.Configuration.ConfigurationManager.AppSettings["NuevoCatalogoUrl"];
}
<div class="section_white nomargin clearfix">
    <div class="container clearfix">
        <div class="row clearfix">
            <div class="row clearfix">
                <div class="col-md-3 col-sm-6 bottommargin-sm">
                    <div class="feature-box media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="@Url.Action(MVC.Productos.Index())">
                                <img class="image_fade" src="~/images/home/1.jpg" alt="Nuestros Productos">
                            </a>
                        </div>
                        <a href="@Url.Action(MVC.Productos.Index())">
                            <div class="fbox-desc noborder fondo-azul">
                                <h3 class="ls0 t300 uppercase color-blanco text-center marginhome">Nuestros<br><b>Productos</b></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 bottommargin-sm">
                    <div class="feature-box media-box fbox-bg">

                        <div class="fbox-media">

                            @if (usuarioLogeado)
                            {
                                <a href="@Url.Action(MVC.Catalogo.Index())"><img class="image_fade" src="~/images/home/2.jpg" alt="Catálogo Taranto"></a>
                            }
                            else
                            {
                                <a href="@catalogoUrl" target="_blank"><img class="image_fade" src="~/images/home/2.jpg" alt="Catálogo Taranto"></a>
                            }
                        </div>
                        @if (usuarioLogeado)
                        {
                            <a href="@Url.Action(MVC.Catalogo.Index())">
                                <div class="fbox-desc noborder fondo-rojo">
                                    <h3 class="ls0 t300 uppercase color-blanco text-center marginhome">Catálogo<br><b>Taranto</b></h3>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@catalogoUrl" target="_blank">
                                <div class="fbox-desc noborder fondo-rojo">
                                    <h3 class="ls0 t300 uppercase color-blanco text-center marginhome">Catálogo<br><b>Taranto</b></h3>
                                </div>
                            </a>
                        }
                        

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 bottommargin-sm">
                    <div class="feature-box media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="@Url.Action(MVC.PaginaInstitucional.Index((int)TarantoWebCatalogo.Web.helpers.Enums.PaginaInstitucionales.GrupoTaranto))"><img class="image_fade" src="~/images/home/3.jpg" alt="Grupo Taranto"></a>
                        </div>
                        <a href="@Url.Action(MVC.PaginaInstitucional.Index((int)TarantoWebCatalogo.Web.helpers.Enums.PaginaInstitucionales.GrupoTaranto))">
                            <div class="fbox-desc noborder fondo-azul">
                                <h3 class="ls0 t300 uppercase color-blanco text-center marginhome">Grupo<br><b>Taranto</b></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 bottommargin-sm">
                    <div class="feature-box media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="http://www.taranto.com.ar/PaginaInstitucional/RecursosHumanosIndex/3?idioma=es"><img class="image_fade" src="~/images/home/4.jpg" alt="Trabajá con Nosotros"></a>
                        </div>
                        <a href="http://www.taranto.com.ar/PaginaInstitucional/RecursosHumanosIndex/3?idioma=es">
                            <div class="fbox-desc noborder fondo-rojo">
                                <h3 class="ls0 t300 uppercase color-blanco text-center marginhome">Trabajá con<br><b>Nosotros</b></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
