﻿@model List<TarantoWebCatalogo.ViewModels.Novedades.Novedad>

<div class="container clearfix topmargin-lg">
    <div class="heading-block center">
        <h2>Novedades</h2>
        <span>
            Visitá nuestra sección para ver 
            <a href="Novedades" class="more-link">más noticias</a>
        </span>
    </div>
    <div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">

        @foreach (var item in Model)
        {
            <div class="entry clearfix hidden-xs hidden-sm">
                <div class="entry-image">
                    <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">
                        <div class="img-bg image_fade"
                             style="background-image: url(@ViewBag.WebAdminUri/images/novedades/@item.Imagen)">
                        </div>
                    </a>
                </div>
                <div class="entry-title">
                    <h2><a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">
                        @item.Titulo
                    </a></h2>
                </div>
                <ul class="entry-meta clearfix">
                    <li>
                        <i class="icon-calendar3"></i> @item.Fecha.ToString("dd MMMM yyyy")
                    </li>
                </ul>
                <div class="entry-content">
                    <p>@item.Subtitulo</p>
                    <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))" class="more-link">
                        Leer más
                    </a>
                </div>
            </div>
        }
    </div>
</div>
