﻿<div id="separadorDistribuidores" class="promo parallax promo-dark promo-flat promo-full" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <img src="~/images/home/distribuidor.png" class="alignleft notopmargin fadeInLeft animated distri">
        <h3>
            Encontrá tu distribuidor <br>
            <b>más cercano.</b>
        </h3>
        <a href="Distribuidores" class="button button-light button-xlarge button-border button-rounded">
            Ver Distribuidores<i class="icon-caret-right"></i>
        </a>
    </div>
</div>
