﻿@{
    Layout = "~/Views/Shared/_LayoutUsuarioLogeado.cshtml";
    ViewBag.Title = "Perfil";
}

@if (@ViewBag.BoletinTitulo != null)
{
    <div class="modal fade in" id="modal-welcome" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-dialog-big modal-dialog-width-auto">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="$('#modal-welcome').hide(); $('#divOscurecer').removeClass()" aria-hidden="true">×</button>
                        <h4 class="modal-title">@ViewBag.BoletinTitulo</h4>
                    </div>
                    <div class="modal-body">
                        <a href="@ViewBag.WebAdminUri/images/boletines/@ViewBag.BoletinArchivo" download="">
                            <img src="@ViewBag.WebAdminUri/images/boletines/@ViewBag.BoletinImagen" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divOscurecer" class="modal-backdrop fade in"></div>
}


<div id="pagePerfil">
    <div id="page-title" class="img-bg page-title-dark page-title-center visible-md-block visible-lg-block bottommargin-sm">
        <div class="clearfix">
            <h1>clientes</h1>
            <span>Taranto</span>
        </div>
    </div>
</div>
<div class="row clearfix bottommargin-sm" id="perfil-acceso-rapido">

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="@Url.Action(MVC.Catalogo.ListaDePrecios())">
                <div class="fbox-desc noborder fondo-rojo text-center">
                    <i class="icon-list2 color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Lista <br><b>de precios</b></h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="@Url.Action(MVC.Catalogo.PedidoPorExcel(0))">
                <div class="fbox-desc noborder fondo-azul text-center">
                    <i class="icon-cart color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Pedido <br><b>por excel</b></h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="@Url.Action(MVC.Perfil.CuentaCorriente())">
                <div class="fbox-desc noborder fondo-rojo text-center">
                    <i class="icon-folder-check color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Cuenta <br><b>corriente</b></h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="ofertas">
                <div class="fbox-desc noborder fondo-azul text-center">
                    <i class="icon-star3 color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Últimas <br><b>ofertas</b></h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="@Url.Action(MVC.Perfil.DatosBancarios())">
                <div class="fbox-desc noborder fondo-rojo text-center">
                    <i class="icon-banknote color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Datos <br><b>bancarios</b></h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4 bottommargin-sm">
        <div class="feature-box media-box fbox-bg">
            <a href="@Url.Action(MVC.Catalogo.BoletinLanzamiento())">
                <div class="fbox-desc noborder fondo-azul text-center">
                    <i class="icon-news color-blanco"></i>
                    <h3 class="ls0 t300 uppercase color-blanco">Boletines <br><b>Lanzamientos</b></h3>
                </div>
            </a>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        var mostrar_welcome = sessionStorage.getItem("mostrarWelcome");

        if (mostrar_welcome != undefined || mostrar_welcome === true) {
            $('#modal-welcome').hide()
            $('#divOscurecer').removeClass()
            sessionStorage.setItem("mostrarWelcome", false);

        }

        sessionStorage.setItem("mostrarWelcome", true);

    </script>
}
