﻿@model  Taranto.ViewModels.CategoriasViewModel
@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

<a href="@Url.Action("Add", "Categorias")" class="btn btn-default mt-10">Cargar nuevo <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>

    @{
        if (Model == null) { return; }
        foreach (var item in Model.Items)
        {
            <div id="article-@item.Id" class="article mt-30">
                <div class="article-content">
                    <h4 class="font-regular">@item.Titulo</h4>
                </div>
                <div class="clearfix"></div>

                <a href="@Url.Action("Edit", "Categorias", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Productos/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
    }


