﻿
@model  Taranto.ViewModels.ConsultaVM
@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

            <a href="consultas/downloadExcel" class="btn btn-default">Descargar excel <span aria-hidden="true" class="glyphicon glyphicon-save"></span></a>

            @{

                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div class="article mt-30">
                        <div class="article-content" style="min-height: auto;">
                            <h4 class="font-regular">@item.Nombre</h4>
                            <p>Fecha: @item.FechaCreacion.ToString("dd MMM yyyy")</p>
                        </div>
                        <div class="clearfix"></div>
                        <a role="button" data-toggle="collapse" href="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id" class="btn btn-default mt-10">Leer <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Consultas/Delete/@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>

                        <div class="clearfix"></div>
                        <div class="collapse mt-10" id="collapse-@item.Id">
                            <div class="article-content" style="min-height: auto;">
                                <p>Motivo de Consulta: @item.Subject</p>
                                <p>Sede: @item.Country</p>
                                <p>Email: @item.Email</p>
                                <p>Tel: @item.Telefono</p>
                                <p class="pt-10 mb-0">@item.Messagge</p>
                            </div>
                        </div>

                    </div>
                }
            }

        </div>
    </div>

</section>

