﻿@model TarantoWebCatalogo.ViewModels.Distribuidores.DistribuidorIndex

<div class="clearfix">
    <div class="col_two_third nobottommargin">
        <div id="map-taranto" class="gmap nobottommargin"></div>
    </div>
    <div id="perfil-dist" class="col_one_third nobottommargin col_last">
        <div class="rightmargin-sm">
            @if (Model.SucursalesParaMapa.Count > 0)
            {
                <div class="heading-block center topmargin bottommargin">
                    <h4 class="color-azul">Seleccione un distribuidor</h4>
                    <span class="linea"></span>
                </div>
                <div id="perfil-dist-result" class="hidden bottommargin">
                    <div class="testi-image topmargin-sm bottommargin-sm"></div>
                    <h4 class="title-distribuidor"></h4>
                    <p class="tipo-distribuidor"></p>
                    <br>
                    <h6 class="title-sucursales-distribuidor">SUCURSALES:</h6>
                    <div class="sucursal-clone hidden">
                        <h5 class="direccion-distribuidor"></h5>
                        <p class="zona-reparto-distribuidor small hidden"></p>
                        <h5 class="nombre-distribuidor"></h5>
                        <h5 class="tel-distribuidor"><i class="icon-phone"></i> <a href=""></a></h5>
                        <h5 class="mail-distribuidor"><i class="icon-mail"></i> <a href="" class="color-azul"></a></h5>
                    </div>
                    <div class="masonry-thumbs col-3 topmargin" data-lightbox="gallery"></div>
                </div>
            }
            else
            {
                <div class="row topmargin bottommargin">
                    <div class="col-xs-12">
                        <div class="alert bounceIn alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Lo sentimos!.</strong> No hay resultados.
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>