﻿@model TarantoWebCatalogo.ViewModels.Distribuidores.DistribuidorIndex

<div id="filtros">
    <div class="fondo-gris">
        <div class="col_full clearfix center">
            <div class="container pt-20 pb-20">
                <div class="row">
                    @*<div class="col-sm-6 col-md-5">
                        <div id="user_location_form_result"></div>
                        <form role="form" id="user_location_form" class="nobottommargin">
                            <fieldset class="nobottommargin">
                                <div class="row">
                                    <div class="col-xxs-12 col-xs-8 topmargin-xs bottommargin-xs">
                                        <label for="user_location" class="sr-only">Escriba una ubicación</label>
                                        <input type="text" name="user_location" id="user_location" class="form-control input-catalog" maxlength="80" placeholder="Escriba una ubicación" required onClick="this.setSelectionRange(0, this.value.length)">
                                    </div>
                                    <div class="col-xxs-12 col-xs-4 topmargin-xs bottommargin-xs">
                                        <button type="button" id="btnUserLocation" data-loading-text="Cargando..." class="btn btn-block btn-default bg-taranto-red txt-white" autocomplete="off">
                                            IR
                                        </button>
                                        <input type="submit" class="hidden" value="IR">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>*@
                    <div class="col-sm-6 col-md-5 col-md-offset-2">
                        <div class="row">

                            <div class="col-xxs-12 col-xs-8 topmargin-xs bottommargin-xs distribuidores-tipos">
                                <select class="selectpicker" multiple data-selected-text-format="count > 2" data-count-selected-text="{0} seleccionados" data-width="100%" data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" data-live-search-normalize="true" data-dropup-auto="false" title="Tipo de distribuidor">
                                    @foreach (var item in Model.TiposDeDistribuidores)
                                    {
                                        <option value="@item.CodeInt">@item.Desc</option>
                                    }
                                </select>
                            </div>
                            <div class="col-xxs-12 col-xs-4 topmargin-xs bottommargin-xs">
                                <button type="button" data-loading-text="Cargando..." class="btn btn-block btn-default bg-taranto-red txt-white distribuidores-tipos-filtrar disabled">
                                    FILTRAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>