﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.Distribuidores.DistribuidorIndex

<div class="stretched">
    <div id="loading" class="hidden">
        <div class="css3-spinner">
            <div class="css3-spinner-bounce1"></div>
            <div class="css3-spinner-bounce2"></div>
            <div class="css3-spinner-bounce3"></div>
        </div>
    </div>

    <div id="pageDistribuidores">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Distribuidores</h1>
                <span>
                    @Localization.EncontraTuDistribuidorMasCercano
                </span>
            </div>
        </section>
    </div>


    @Html.Partial(MVC.Distribuidores.Views._Filtros, Model)

    <section id="content">

        @Html.Partial(MVC.Distribuidores.Views._Contenido, Model)

        @Html.Partial(MVC.Shared.Views._Convertirte_distribuidor)

    </section>


</div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrF8HBcNADoXhxavppHzIz8RSwT5mve-k&callback=initMap&v=beta&loading=async"
            defer></script>
    <script src="~/Scripts//markerclusterer.min.js"></script>
    <script src="~/Scripts/settings-extra-1.4.min.js"></script>

    <script>
        var map_markers = @Html.Raw(Json.Encode(Model.SucursalesParaMapa));
        var baseUrl = '@ViewBag.BaseUrl';
        var apiUrl = '@ViewBag.ApiUrl';
        var apiUrlFabio = '@ViewBag.ApiUrlFabio';

        var map;
    </script>


}

