﻿<a href="#" class="button button-full button-rojo center tright nobottommargin" data-toggle="modal" data-target="#become-dealer-modal">
    <div class="container clearfix">
        ¿Querés convertirte en un <strong>Distribuidor Taranto</strong>?<i class="icon-caret-right" style="top:4px;"></i>
    </div>
</a>
<div class="modal fade" id="become-dealer-modal" tabindex="-1" role="dialog" aria-labelledby="become-dealer-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="become-dealer-modal-label">Convertite en un distribuidor</h4>
                </div>
                <div class="modal-body">

                    <p>Dejanos tus datos y nos contactaremos a la brevedad</p>
                    <div id="become_dealer_form_result"></div>
                    <form role="form" id="become_dealer_form">
                        <fieldset class="nobottommargin">
                            <div class="input-group input-block-level">
                                <label for="become_dealer_business_name" class="sr-only">Razón Social</label>
                                <input type="text" name="become_dealer_business_name" id="become_dealer_business_name" class="form-control input-block-level modal-form" maxlength="80" placeholder="Razón Social" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_cuit" class="sr-only">CUIT</label>
                                <input type="text" name="become_dealer_cuit" id="become_dealer_cuit" class="form-control input-block-level modal-form" maxlength="11" placeholder="CUIT" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_postal_code" class="sr-only">Código Postal</label>
                                <input type="text" name="become_dealer_postal_code" id="become_dealer_postal_code" class="form-control input-block-level modal-form" maxlength="30" placeholder="Código Postal" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_state" class="sr-only">Provincia</label>
                                <select name="become_dealer_state" id="become_dealer_state" class="selectpicker form-control input-block-level modal-form" data-width="100%" data-dropup-auto="false" data-live-search="false" title="Provincia" required>
                                    <option value="Buenos Aires">Buenos Aires</option>
                                    <option value="Catamarca">Catamarca</option>
                                    <option value="Chaco">Chaco</option>
                                    <option value="Chubut">Chubut</option>
                                    <option value="Córdoba">Córdoba</option>
                                    <option value="Corrientes">Corrientes</option>
                                    <option value="Entre Ríos">Entre Ríos</option>
                                    <option value="Formosa">Formosa</option>
                                    <option value="Jujuy">Jujuy</option>
                                    <option value="La Pampa">La Pampa</option>
                                    <option value="La Rioja">La Rioja</option>
                                    <option value="Mendoza">Mendoza</option>
                                    <option value="Misiones">Misiones</option>
                                    <option value="Neuquén">Neuquén</option>
                                    <option value="Río Negro">Río Negro</option>
                                    <option value="Salta">Salta</option>
                                    <option value="San Juan">San Juan</option>
                                    <option value="San Luis">San Luis</option>
                                    <option value="Santa Cruz">Santa Cruz</option>
                                    <option value="Santa Fe">Santa Fe</option>
                                    <option value="Santiago del Estero">Santiago del Estero</option>
                                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                                    <option value="Tucumán">Tucumán</option>
                                </select>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_city" class="sr-only">Localidad</label>
                                <input type="text" name="become_dealer_city" id="become_dealer_city" class="form-control input-block-level modal-form" maxlength="80" placeholder="Localidad" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_address" class="sr-only">Dirección</label>
                                <input type="text" name="become_dealer_address" id="become_dealer_address" class="form-control input-block-level modal-form" maxlength="80" placeholder="Dirección" required>
                            </div>
                            <div class="input-group input-block-level" id="become-dealer-form-tipo-de-cliente">
                                <label for="become_dealer_type" class="sr-only">Tipo de Cliente</label>
                                <select name="become_dealer_type" id="become_dealer_type" class="selectpicker form-control input-block-level modal-form" data-width="100%" data-dropup-auto="false" data-live-search="false" title="Tipo de Cliente" required>
                                    <option value="Distribuidor">Distribuidor</option>
                                    <option value="Repuesto en general">Repuesto en general</option>
                                    <option value="Casa de motor">Casa de motor</option>
                                    <option value="Frenos y Embragues">Frenos y Embragues</option>
                                    <option value="Bulonera">Bulonera</option>
                                    <option value="Repuestos de línea">Repuestos de línea</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="input-group input-block-level hidden" id="become-dealer-form-marcas">
                                <label for="become_dealer_brands" class="sr-only">Marcas</label>
                                <select name="become_dealer_brands" id="become_dealer_brands" multiple class="selectpicker form-control input-block-level modal-form" data-width="100%" data-dropup-auto="false" data-live-search="false" title="Marcas">
                                    <option value="Chevrolet">Chevrolet</option>
                                    <option value="Fiat">Fiat</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Peugeot">Peugeot</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                    <option value="Asiática">Asiática</option>
                                    <option value="Pesados">Pesados</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_email" class="sr-only">Email del Propietario</label>
                                <input type="email" name="become_dealer_email" id="become_dealer_email" class="form-control input-block-level modal-form" maxlength="80" placeholder="Email del Propietario" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_tel" class="sr-only">Teléfono del Propietario</label>
                                <input type="text" name="become_dealer_tel" id="become_dealer_tel" class="form-control input-block-level modal-form" maxlength="30" placeholder="Teléfono del Propietario">
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_name" class="sr-only">Nombre del Propietario</label>
                                <input type="text" name="become_dealer_name" id="become_dealer_name" class="form-control input-block-level modal-form" maxlength="80" placeholder="Nombre del Propietario" required>
                            </div>
                            <div class="input-group input-block-level">
                                <label for="become_dealer_message" class="sr-only">Comentarios</label>
                                <textarea name="become_dealer_message" id="become_dealer_message" class="form-control input-block-level short-textarea modal-form" rows="4" placeholder="Comentarios"></textarea>
                            </div>
                            <button type="button" id="btnBecomeDealer" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                                Enviar
                            </button>
                            <input type="submit" class="hidden" value="Enviar">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- #modal end -->
