﻿<div class="col_half col_last">
    <div class="widget quick-contact-widget clearfix">
        <h4>Consulta Rápida</h4>
        <div id="quick_contact_form_result"></div>
        <form role="form" id="quick_contact_form">
            <fieldset class="nobottommargin">
                <div class="input-group input-block-level">
                    <label for="quick_contact_name" class="sr-only">Nombre y Apellido</label>
                    <input type="text" name="quick_contact_name" id="quick_contact_name" class="form-control input-block-level footer-form" maxlength="80" placeholder="Nombre y Apellido" required>
                </div>
                <div class="input-group input-block-level">
                    <label for="quick_contact_email" class="sr-only">Email</label>
                    <input type="email" name="quick_contact_email" id="quick_contact_email" class="form-control input-block-level footer-form" maxlength="80" placeholder="Email" required>
                </div>
                <div class="input-group input-block-level">
                    <label for="quick_contact_tel" class="sr-only">Teléfono</label>
                    <input type="text" name="quick_contact_tel" id="quick_contact_tel" class="form-control input-block-level footer-form" maxlength="30" placeholder="Teléfono">
                </div>
                <div class="input-group input-block-level footer-form">
                    <label for="quick_contact_subject" class="sr-only">Motivo de Consulta</label>
                    <select name="quick_contact_subject" id="quick_contact_subject" class="selectpicker form-control input-block-level" data-live-search="false" title="Motivo de Consulta" required>
                        <option value="Consulta">Consulta</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Soporte">Soporte</option>
                        <option value="Proveedores">Proveedores</option>
                    </select>
                </div>
                <div class="input-group input-block-level footer-form">
                    <label for="quick_contact_country" class="sr-only">Sede</label>
                    <select name="quick_contact_country" id="quick_contact_country" class="selectpicker form-control input-block-level" data-live-search="false" title="Sede" required>
                        <option value="Argentina">Argentina</option>
                        <option value="México">México</option>
                        <option value="Brasil">Brasil</option>
                    </select>
                </div>
                <div class="input-group input-block-level">
                    <label for="quick_contact_message" class="sr-only">Consulta</label>
                    <textarea name="quick_contact_message" id="quick_contact_message" class="form-control input-block-level short-textarea footer-form" rows="4" placeholder="Consulta" required></textarea>
                </div>
                <button type="button" id="btnQuickContact" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                    Enviar
                </button>
                <input type="submit" class="hidden" value="Enviar">
            </fieldset>
        </form>
    </div>
</div>
