﻿@using TarantoWebCatalogo.Localization
<div id="copyrights" class="nobottompadding">
    <div class="container clearfix">
        <div class="col_two_third bottommargin-sm">
            <div class="copyrights-menu copyright-links clearfix">
                @Html.ActionLink("Home", MVC.Home.Index()) /
                @Html.ActionLink(Localization.Productos, MVC.Productos.Index()) /
                @Html.ActionLink(Localization.Catálogo, MVC.Catalogo.Index()) /
                @Html.ActionLink(Localization.Distribuidores, MVC.Distribuidores.Index()) /
                @Html.ActionLink(Localization.GrupoTaranto, MVC.PaginaInstitucional.Index((int)TarantoWebCatalogo.Web.helpers.Enums.PaginaInstitucionales.GrupoTaranto))) /
                @Html.ActionLink(Localization.Novedades, MVC.Novedades.Index()) /
                @Html.ActionLink(Localization.Contacto, MVC.Contacto.Index())
            </div>

            Taranto San Juan SA | @DateTime.Now.Year | @Localization.TodosLosDerechosReservados
        </div>
        <div class="col_one_third col_last bottommargin-sm tright certificados">
            <img src="~/images/home/certificado_1.png">
            <img src="~/images/home/certificado_2.png">
            <a href="http://qr.afip.gob.ar/?qr=VuDgvohXcxDz6VXH8OrfHQ,," target="_F960AFIPInfo">
                <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" width="70" border="0" style="margin-left:10px">
            </a>
        </div>
    </div>
</div>
