﻿<div class="col_half">
    <div class="widget clearfix">
        <h4>Oficina Argentina</h4>
        <p class="footer-list">
            <i class="icon-map-marker color-azul"></i>
            <a href="#" class="leftmargin-min">Mario Bravo 641, Avellaneda, Buenos Aires, Argentina</a>
            <br>
            <i class="icon-phone color-azul"></i>
            <a href="tel:+5491141359000" target="_blank" class="leftmargin-min">(54)(011) 4135-9000</a>
            <br>
            <i class="icon-linkedin color-azul"></i>
            <a href="https://ar.linkedin.com/company/taranto.argentina" target="_blank" class="leftmargin-min">Linkedin</a>
            <br>
            <i class="icon-youtube color-azul"></i>
            <a href="https://www.youtube.com/channel/UCC1U17tQg9sB5OW-fJ_ZO6g" target="_blank" class="leftmargin-min">YouTube</a>
            <br>
            <i class="icon-facebook color-azul"></i>
            <a href="https://www.facebook.com/TarantoArgentina/" target="_blank" class="leftmargin-min">Facebook</a>
            <br>
            <i class="icon-instagram2 color-azul"></i>
            <a href="https://www.instagram.com/tarantoargentina/" target="_blank" class="leftmargin-min">Instagram</a>
            <br>
            <i class="icon-mail color-azul"></i>
            <a href="mailto:info@taranto.com.ar" target="_blank" class="leftmargin-min">info@taranto.com.ar</a>
            <br>
            <i class="icon-mail color-azul"></i>
            <a href="mailto:rrhh@taranto.com.ar" target="_blank" class="leftmargin-min">rrhh@taranto.com.ar</a>
            
        </p>
        <img src="~/images/logo_footer.png" alt="Taranto" class="footer-logo topmargin-sm">
    </div>
</div>
