﻿@{ 
    var reclamo = ViewBag.mostrarReclamo ?? false;
}
<footer id="footer" class="dark">
    <div class="container">
        <div class="footer-widgets-wrap clearfix">
            @Html.Partial(MVC.Shared.Views._ReclamoDisclaimer)
            @Html.Partial(MVC.Shared.Views._Reclamo)
        </div>
    </div>

    @Html.Partial(MVC.Shared.Views._Copyright)
</footer>

<div id="gotoTop" class="icon-angle-up"></div>