﻿<a href="https://www.halaxia.com/empleos/taranto-talent?iframe_mode=true&register_success=https://www.halaxia.com/empleos" target="_blank" class="button button-full button-azul center tright">
    <div class="container clearfix">
        ¿Querés ser parte de nuestro equipo? <strong>Ingresá tu CV</strong>
        <i class="icon-caret-right" style="top:4px;"></i>
    </div>
</a>

