﻿@{
    var reclamo = ViewBag.mostrarReclamo ?? false;
}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taranto</title>
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/components/bs-switches.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/components/radio-checkbox.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style-3.6.css?v=1" type="text/css" />
    <link rel="stylesheet" href="~/Content/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/components/bs-select.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Site.css?v=2" type="text/css" />
    @RenderSection("styles", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140148364-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-140148364-1');
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '539688530158669');
        fbq('track', 'PageView');
    </script>
    <meta property="og:title" content="Taranto ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.taranto.com.ar/">
    <meta property="og:description" content="Bienvenidos a Taranto, donde la calidad es un compromiso.">
    <meta property="og:image" content="https://www.taranto.com.ar/images/taranto.jpg">
    <style id="fit-vids-style">
    </style>
</head>
<body class="stretched device-lg">
    <div class="header clearfix no-print">
        @Html.Partial(MVC.Shared.Views._TopLink)
        @Html.Partial(MVC.Shared.Views._TopBar)
    </div>
    <div>
        @RenderBody()
    </div>

    @if (reclamo)
    {
        @Html.Partial(MVC.Shared.Views._FooterReclamos)
    }
    else
    {
        @Html.Partial(MVC.Shared.Views._Footer)
    }

    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=539688530158669&ev=PageView&noscript=1" />
    </noscript>
    @*@Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>
    <script type="text/javascript" src="~/Scripts/components/bs-switches.js"></script>
    <script type="text/javascript" src="~/Scripts/components/bs-select.js"></script>
    <script type="text/javascript" src="~/Scripts/components/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/components/typehead.js"></script>
    <script type="text/javascript" src="~/Scripts/functions-1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="~/Scripts/TopBar/Secciones.js?v=1"></script>
    <script src="~/Scripts/validarLogin.js?v=1"></script>
    <script>
        var apiUrl = '@WebConfigHelper.ApiUrl';
    </script>
    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c49d8311e18aded"></script>*@
    @RenderSection("scripts", required: false)
</body>