﻿<div class="col_half">
    <div class="widget clearfix">
        <h4>Nuestro sistema de denuncias</h4>
        <p align="justify">
            El cumplimiento de la normativa legal y de las reglas internas, así como de los principios establecidos en nuestro Código de Conducta son prioritarias en Taranto.

            El canal de denuncias debe ser utilizado exclusivamente para reportar incumplimientos de leyes o normativas internas. Para casos de atención al cliente  en relación a nuestros productos, por favor utilizar el formulario en la sección contacto.

            Las prácticas profesionales poco éticas, las violaciones de los derechos humanos y del medio ambiente, forman parte de nuestro sistema de denuncias. Se canalizan de manera anónima, confidencial y a través de un representante externo e imparcial.
        </p>
        <p align="justify">Puede ponerse en contacto con el representante externo por correo electrónico: 
            <b><a href="mailto:reclamos.taranto@estudiofrontier.com" target="_blank" class="leftmargin-min">reclamos.taranto@estudiofrontier.com</a></b>
         o completando el formulario.</p>
    </div>
</div>
