﻿<div class="col_half col_last">
    <div class="widget quick-contact-widget clearfix">
        <h4>Nos complace entrar en contacto con usted</h4>
        <div id="quick_contact_form_result"></div>
        <form role="form" id="quick_contact_form">
            <fieldset class="nobottommargin">
               
                <div class="input-group input-block-level footer-form">
                    <label for="quick_contact_subject" class="sr-only">Motivo de Consulta</label>
                    <select name="quick_contact_subject" id="quick_contact_subject" class="selectpicker form-control input-block-level" data-live-search="false" title="Por favor, especifique el tipo de denuncia" required>
                        <option value="DDHH">Derechos humanos</option>
                        <option value="MA">Medio ambiente</option>
                        <option value="PP">Prácticas profesionales poco éticas</option>
                    </select>
                </div>

                <div class="input-group input-block-level">
                    <label for="quick_contact_message" class="sr-only">Su mensaje</label>
                    <textarea name="quick_contact_message" id="quick_contact_message" class="form-control input-block-level short-textarea footer-form" rows="4" placeholder="Consulta" required></textarea>
                </div>
                <div class="input-group input-block-level">
                    <label for="quick_contact_reclamo" class="sr-only">Número de reclamo</label>
                    <input type="text" name="quick_contact_reclamo" id="quick_contact_tel" class="form-control input-block-level footer-form" maxlength="30" placeholder="Número de reclamo">
                </div>
                <button type="button" id="btnQuickContact" data-loading-text="Cargando..." class="btn btn-danger nomargin btn-block" autocomplete="off">
                    Enviar
                </button>
                <input type="submit" class="hidden" value="Enviar">
            </fieldset>
        </form>
    </div>
</div>


