﻿@{
    var razonSocial = SeguridadService.NombreUsuario;
    var codigoCliente = SeguridadService.UsuarioLogueadoCodigo;
    var esProveedor = SeguridadService.UsuarioLogueadoEsProveedor;
    var fotoPerfilUrl = $"{WebConfigHelper.ApiUrl}core/fotoPerfilCliente?codigoCliente={codigoCliente}";
}


<div class="sidebar nobottommargin clearfix fondo-gris" id="sidebar-perfil" style="height: 661px;">
    <a href="@Url.Action(MVC.Home.Perfil())">
        <img class="aligncenter img-circle" id="fotoPerfil" src="@fotoPerfilUrl" />
        <h4 class="center">@razonSocial</h4>
    </a>

    <div class="accordion accordion-bg clearfix">
        @if (esProveedor)
        {
            <div class="acctitle acctitlec">
                <i class="acc-closed icon-minus"></i>
                <i class="acc-open icon-minus"></i>Proveedores
            </div>
            <div class="acc_content clearfix" style="display: block;">

                <div class="widget widget_links clearfix">
                    <ul>
                        <li class="hidden"><a href="cuenta-corriente"><div>Cuenta corriente</div></a></li>
                        <li><a href="recepcion-de-mercaderia"><div>Recepción de mercadería</div></a></li>
                        <li>
                            <a href="quejas-y-reclamos">
                                <div class="chat-badge">
                                    <span>Quejas y Reclamos</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        }
        else
        {
            <div class="acctitle acctitlec"><i class="acc-closed icon-minus"></i><i class="acc-open icon-minus"></i>Catálogo</div>
            <div class="acc_content clearfix" style="display: block;">

                <div class="widget widget_links clearfix">
                    <ul>
                        <li><a href="@Url.Action(MVC.Catalogo.Index())"><div>Catálogo de productos</div></a></li>
                        <li><a href="@Url.Action(MVC.Catalogo.ListaDePrecios())"><div>Lista de precios</div></a></li>
                        <li><a href="@Url.Action(MVC.Catalogo.PedidoPorExcel(0))"><div>Pedido por excel</div></a></li>
                        @*<li><a href="ofertas"><div>Ofertas</div></a></li>*@
                        <li><a href="@Url.Action(MVC.Catalogo.BoletinLanzamiento())"><div>Boletines / Lanzamientos</div></a></li>
                        <li class="hidden"><a href="#"><div>Más comprados</div></a></li>
                        <li><a href="@Url.Action(MVC.Catalogo.CarritoDeComprasIndex())"><div>Carrito de compras</div></a></li>
                        <li><a href="@Url.Action(MVC.Catalogo.Pedidos())"><div>Mis pedidos</div></a></li>
                    </ul>
                </div>

            </div>

            <div class="acctitle"><i class="acc-closed icon-minus"></i><i class="acc-open icon-minus"></i>Mi Perfil</div>
            <div class="acc_content clearfix" style="display: none;">

                <div class="widget widget_links clearfix">
                    <ul>
                        <li><a href="@Url.Action(MVC.Perfil.EditarMisDatos())"><div>Editar mis datos</div></a></li>
                        <li><a href="@Url.Action(MVC.Perfil.CambiarContrasena())"><div>Cambiar mi contraseña</div></a></li>
                        <li><a href="@Url.Action(MVC.Perfil.FotoPuntoDeVenta())"><div>Foto punto de venta</div></a></li>
                        <li><a href="@Url.Action(MVC.Perfil.CuentaCorriente())"><div>Cuenta corriente</div></a></li>
                        <li><a href="@Url.Action(MVC.Perfil.DatosBancarios())"><div>Pagar / Datos bancarios</div></a></li>
                    </ul>
                </div>

            </div>

            <div class="acctitle"><i class="acc-closed icon-minus"></i><i class="acc-open icon-minus"></i>Más</div>
            <div class="acc_content clearfix" style="display: none;">

                <div class="widget widget_links clearfix">
                    <ul>
                        <li class="hidden"><a href="#"><div>Preguntas frecuentes</div></a></li>
                        <li>
                            <a href="sugerencias">
                                <div class="chat-badge">
                                    <span>Sugerencias</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="quejas-y-reclamos">
                                <div class="chat-badge">
                                    <span>Quejas y reclamos</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
