﻿<div class="promo promo-full fondo-gris">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
            <h2>Suscribite a nuestro <span class="color-azul"><b>Newsletter</b></span></h2>
        </div>
        <div class="col_half col_last nobottommargin">
            <div id="subscribe_form_result" style="margin-top: 6px;"></div>
            <form role="form" id="subscribe_form" class="nobottommargin">
                <fieldset class="nobottommargin">
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-email2"></i></span>
                        <label for="subscribe_email" class="sr-only">E-mail</label>
                        <input type="email" name="subscribe_email" id="subscribe_email" class="form-control suscribe-form" maxlength="80" placeholder="Ingresá tu Email" required>
                        <span class="input-group-btn">
                            <button type="button" id="btnSubscribe" data-loading-text="Cargando..." class="btn btn-danger fondo-rojo" autocomplete="off">
                                Suscribite
                            </button>
                            <input type="submit" class="hidden" value="Suscribite">
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
