﻿@model TarantoWebCatalogo.ViewModels.Productos.TopBarProductoView

<li class="mega-menu-title">
    <a href="#">
        <div>@Model.Titulo</div>
    </a>
    <ul>
        @foreach (var item in Model.Productos)
        {
            <li>
                <a href="@Url.Action(MVC.Productos.Index(item.Id))">
                    <div>@item.Titulo</div>
                </a>
            </li>
        }
    </ul>
</li>

