﻿@using TarantoWebCatalogo.Localization
@using TarantoWebCatalogo.ViewModels.Productos
@using TarantoWebCatalogo.Web.helpers.Enums
@{
    var productos = ProductoService.ObtenerTodosParaMenuPorIdioma(Session["Idioma"].ToString());
    var hayUsuarioLogeado = SeguridadService.HayUsuarioLogueado;
    var cantidadDeArticulos = (SeguridadService.HayUsuarioLogueado) ? PedidosService.ObtenerArticulosParaIconoCarrito(SeguridadService.UsuarioLogueadoCodigo).Count : 0;
}

<header id="header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>
            <div id="logo">
                <a href="@Url.Action(MVC.Home.Index())" class="standard-logo">
                    <img src="~/images/taranto-logo.png" alt="Taranto">
                </a>
                <a href="@Url.Action(MVC.Home.Index())" class="retina-logo">
                    <img src="~/images/taranto-logo@2x.png" alt="Taranto">
                </a>
            </div>
            <nav id="primary-menu">
                <ul>
                    <li id="seccionHome"> @Html.ActionLink("Home", MVC.Home.Index())</li>
                    <li id="seccionProductos" class="mega-menu">
                        <a href="#">
                            <div>@Localization.Productos</div>
                        </a>
                        <div class="mega-menu-content style-2 clearfix">

                            <ul class="mega-menu-column col-md-3">
                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.Sellado).ToList(),
                         })

                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.Friccion).ToList(),
                         })

                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.Fijacion).ToList(),
                         })
                            </ul>
                            <ul class="mega-menu-column col-md-3">
                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.SuspensionYDireccion).ToList(),
                         })
                            </ul>

                            <ul class="mega-menu-column col-md-3">
                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.ComponentesDeMotor).ToList(),
                         })

                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.Encendido).ToList(),
                         })
                            </ul>

                            <ul class="mega-menu-column col-md-3">
                                @Html.Partial(MVC.Shared.Views._TopBarProductos,
                         new TopBarProductoView
                         {
                             Productos = productos.Where(p =>
                                 p.IdCategoria == (int)CategoriaProducto.HerramientasTaranto).ToList(),
                         })
                            </ul>

                        </div>
                    </li>

                    @if (hayUsuarioLogeado)
                    {
                        <li id="seccionCatalogo"> @Html.ActionLink(Localization.Catálogo, MVC.Catalogo.Index())</li>
                    }
                    else
                    {
                        var catalogoUrl = System.Configuration.ConfigurationManager.AppSettings["NuevoCatalogoUrl"];
                        <li>
                            <a href="@catalogoUrl" target="_blank">@Localization.Catálogo</a>
                        </li>
                    }


                    <li id="seccionDistribuidores">@Html.ActionLink(Localization.Distribuidores, MVC.Distribuidores.Index())</li>
                    <li id="seccionEmpresa">
                        <a href="#">
                            <div>@Localization.Empresa</div>
                        </a>
                        <ul class="padding-equal-mega-menu">
                            <li>@Html.ActionLink(Localization.GrupoTaranto, MVC.PaginaInstitucional.Index((int)PaginaInstitucionales.GrupoTaranto))</li>
                            <li>@Html.ActionLink(Localization.CalidadSeguridadyMedioAmbiente, MVC.PaginaInstitucional.Index((int)PaginaInstitucionales.CalidadSeguridadMedioAmbiente))</li>
                            <li>@Html.ActionLink(Localization.RRHH, MVC.PaginaInstitucional.Index((int)PaginaInstitucionales.Rrhh))</li>
                            @*<li>
                    <a href="https://juntandopartesonline.com/" target="_blank">
                        <div>@Localization.RevistaJuntandoPartes</div>
                    </a>
                </li>*@
                        </ul>
                    </li>
                    <li id="seccionNovedades">@Html.ActionLink(Localization.Novedades, MVC.Novedades.Index())</li>
                    <li id="seccionContacto">@Html.ActionLink(Localization.Contacto, MVC.Contacto.Index())</li>
                </ul>
                
                @if (hayUsuarioLogeado)
                {
                    <div id="top-cart" class="">
                        <a href="#" id="top-cart-trigger">
                            <i class="icon-shopping-cart"></i>
                            @if (cantidadDeArticulos > 0)
                            {
                                <span class="animated bounceIn">
                                    <div id="badgeCantidadArticulosCarrito">
                                        @cantidadDeArticulos
                                    </div>
                                </span>
                            }
                        </a>

                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Carrito de compras</h4>
                            </div>
                            <div id="top-cart-content">
                                <div class="top-cart-items">
                                    @{
                                        var pedido = PedidosService.ObtenerArticulosParaIconoCarrito(SeguridadService.UsuarioLogueadoCodigo);
                                        if (pedido.Any())
                                        {
                                            foreach (var articulo in pedido)
                                            {
                                                <div class="top-cart-item clearfix">
                                                    <div class="top-cart-item-desc">
                                                        <p class="txt-ellipsis">
                                                            <span class="color-rojo">@articulo.Articulo</span> <i class="">@articulo.Descripcion</i>
                                                        </p><span class="top-cart-item-quantity">x @articulo.Cantidad</span></div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="top-cart-item clearfix">
                                                <div class="top-cart-item-desc">
                                                    <p class="txt-ellipsis"><i>Carrito vacio..</i></p>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="top-cart-action clearfix">
                                    <a href="@Url.Action(MVC.Catalogo.CarritoDeComprasIndex())" class="button button-small button-rounded tcenter nomargin">Ver Carrito</a>
                                    <div class="clearfix mt-10"></div>
                                    <a href="@Url.Action(MVC.Catalogo.Index())" class="color-azul btn-with-icon-left">
                                        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Seguir comprando
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </nav>
        </div>
    </div>
</header>