﻿@using TarantoWebCatalogo.Localization;
@using TarantoWebCatalogo.Web.helpers
@{
    var usuarioLogeado = SeguridadService.HayUsuarioLogueado;
    var esProveedor = SeguridadService.UsuarioLogueadoEsProveedor;
    var razonSocial = SeguridadService.NombreUsuario;
    var tipoDeCliente = SeguridadService.UsuarioLogueadoEsProveedor ? "Proveedor" : "Cliente";
}

<div id="top-bar">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
            <div id="top-social">
                <ul>
                    <li>
                        <a href="tel:+5491141359000" class="si-call">
                            <span class="ts-icon"><i class="icon-call"></i></span>
                            <span class="ts-text">+54 9 11 4135 9000</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@taranto.com.ar" class="si-email3">
                            <span class="ts-icon"><i class="icon-email3"></i></span>
                            <span class="ts-text">info@taranto.com.ar</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ar.linkedin.com/company/taranto.argentina" class="si-linkedin" target="_blank">
                            <span class="ts-icon"><i class="icon-linkedin"></i></span>
                            <span class="ts-text">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCC1U17tQg9sB5OW-fJ_ZO6g" class="si-youtube" target="_blank">
                            <span class="ts-icon"><i class="icon-youtube"></i></span>
                            <span class="ts-text">You Tube</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/TarantoArgentina/" class="si-facebook" target="_blank">
                            <span class="ts-icon"><i class="icon-facebook"></i></span>
                            <span class="ts-text">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tarantoargentina/" class="si-instagram" target="_blank">
                            <span class="ts-icon"><i class="icon-instagram2"></i></span>
                            <span class="ts-text">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_half col_last fright nobottommargin">
            <div class="top-links">
                <ul>

                    <li>
                        <a href="@Url.Action(MVC.Home.Index(Constantes.IdiomaEspanol))">
                            <img src="@Url.Content("~/images/icons/flags/es.png")" /> ES
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(MVC.Home.Index(Constantes.IdiomaPortugues))">
                            <img src="@Url.Content("~/images/icons/flags/br.png")" /> BR
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(MVC.Home.Index(Constantes.IdiomaIngles))">
                            <img src="@Url.Content("~/images/icons/flags/us.png")" /> US
                        </a>
                    </li>
                    <li id="menuLogin" class="dropdown">
                        @if (usuarioLogeado)
        {
                <a href="#" class="color-azul dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i>@tipoDeCliente</a>
                <div class="dropdown-menu dropdown-menu-right" id="user-menu">
                    <div class="mpost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4>Hola @razonSocial<i class="icon-user pull-right"></i></h4>
                                <a href="@Url.Action(MVC.Home.Perfil())" class="color-azul">Ver mi perfil</a>
                            </div>
                        </div>
                        <ul class="user-menu-ul">
                            @if (esProveedor)
            {
                <li class="hidden"><a href="cuenta-corriente"><div>Cuenta corriente</div></a></li>
                <li><a href="recepcion-de-mercaderia"><div>Recepción de mercadería</div></a></li>
                <li><a href="quejas-y-reclamos"><div>Quejas y Reclamos</div></a></li>
}
else
{
                <li><a href="@Url.Action(MVC.Catalogo.ListaDePrecios())"><div>Lista de precios</div></a></li>
                <li><a href="@Url.Action(MVC.Catalogo.PedidoPorExcel(0))"><div>Pedido por excel</div></a></li>
                <li><a href="@Url.Action(MVC.Perfil.CuentaCorriente())"><div>Cuenta corriente</div></a></li>
}

                            <li><a href="@Url.Action(MVC.Home.Logout())" id="logout" class="color-rojo cursor-pointer"><div>Cerrar sesión <i class="icon-signout pull-right"></i></div></a></li>
                        </ul>
                    </div>
                </div>
}
else
{
                <a href="#" class="color-azul dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i>@Localization.Ingresar</a>
                <div class="dropdown-menu dropdown-menu-right" id="user-menu">
                    <div id="top-login">
                        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
                <form role="form" id="form_login" class="nobottommargin">
                    <fieldset class="nobottommargin">
                        <div class="input-group" id="top-login-user">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" name="usuario" id="lblUsuario" maxlength="80" class="form-control fondo-gris" placeholder="Usuario" required>
                        </div>
                        <div class="input-group" id="top-login-password">
                            <span class="input-group-addon"><i class="icon-key"></i></span>
                            <input type="password" name="password" id="lblPassword" maxlength="80" class="form-control fondo-gris" placeholder="Clave" required>
                        </div>
                        <button id="btnIngresar" data-loading-text="Autenticando..." autocomplete="off" class="btn btn-danger btn-block">@Localization.Ingresar</button>
                    </fieldset>
                </form>
                <div id="loginError" class="hide">
                    <div id="form_login_result" style="display: block;"></div>
                    <div class="alert bounceIn alert-danger alert-dismissible mt-20 mb-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Ha ocurrido un error! </strong>Los datos no son correctos.
                    </div>
                </div>
}
                    </div>
                </div>
}
                    </li>
                    @if (usuarioLogeado)
                    {
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modalIrANuevoCatalogo" class="nuevo-catalogo-button">
                                Nuevo Catálogo
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            @Html.Partial(MVC.Catalogo.Views._ModalIrANuevoCatalogo)
        </div>
    </div>
</div>