﻿@model TarantoWebCatalogo.ViewModels.Novedades.NovedadesDetalle

@if (Model.UltimasNovedades.Count > 0)
{
    <div class="container clearfix">
        <!-- MAS NOVEDADES -->
        <div class="heading-block center">
            <h2>Más Novedades</h2>
        </div>
        <div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">

            @foreach (var item in Model.UltimasNovedades)
            {
                <div class="entry clearfix">
                    <div class="entry-image">
                        <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">
                            <div class="img-bg image_fade"
                                 style="background-image: url(@ViewBag.WebAdminUri/images/novedades/@item.Imagen)">
                            </div>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h2><a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">@item.Titulo</a></h2>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> @item.Fecha.ToString("dd MMMM yyyy")</li>
                    </ul>
                    <div class="entry-content">
                        <p>@item.Subtitulo</p>
                        <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))" class="more-link">Leer más</a>
                    </div>
                </div>
            }
        </div>
    </div>
}
