﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.Novedades.NovedadesDetalle

<div class="stretched">
    <div id="pageNovedades">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Novedades</h1>
                <span>
                    @Localization.YTodaLaActualidadDeTaranto
                </span>
            </div>
        </section>
    </div>
    <section id="content">
        <div class="content-wrap nobottompadding">
            <div class="container clearfix">
                <div class="postcontent nobottommargin clearfix">
                    <div class="single-post nobottommargin">
                        <div class="entry clearfix nobottommargin nobottompadding">
                            <div class="entry-title">
                                <h2>@Model.Novedad.Titulo</h2>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> @Model.Novedad.Fecha.ToString("dd MMMM yyyy")</li>
                                <li><a href="@Url.Action("Index", "Novedades", new {idCategoria = Model.Novedad.IdCategoria})">@Model.Novedad.NombreCategoria</a></li>
                            </ul>
                            <div class="entry-content notopmargin nobottommargin wysiwyg">
                                @Html.Raw(Model.Novedad.Descripcion)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col_last clearfix topmargin">
                    <div class="sidebar-widgets-wrap bottommargin">
                        <div class="widget clearfix">
                            <h4>Galería</h4>
                            <div class="masonry-thumbs col-2" data-lightbox="gallery">
                                <a href="@ViewBag.WebAdminUri/images/novedades/@Model.Novedad.Imagen" data-lightbox="gallery-item">
                                    <img class="image_fade" src="@ViewBag.WebAdminUri/images/novedades/@Model.Novedad.Imagen">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="line topmargin"></div>
            </div>
        </div>
        
        @Html.Partial(MVC.Novedades.Views._OtrasNovedades, Model)

        @Html.Partial(MVC.Shared.Views._SuscribiteNewsletter)

    </section>
</div>