﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.Novedades.NovedadesIndex


<div class="stretched">
    <div id="pageNovedades">
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
            <div class="container clearfix">
                <h1 class="text-uppercase">@Localization.Novedades</h1>
                <span>
                    @Localization.YTodaLaActualidadDeTaranto
                </span>
            </div>
        </section>
    </div>
    <section id="content">
        <div class="container clearfix">
            <div class="topmargin bottommargin center txt-white">
                <div id="anchor"></div>

                <div class="select-category">
                    @Html.DropDownList("IdCategoria", null, new { @class = "selectpicker", data_style = "btn-primary", data_live_search = "false", data_dropup_auto = "false" })
                </div>
            </div>

            @if (Model.UltimasNovedades.Count > 0)
            {
                <div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">
                    @foreach (var item in Model.UltimasNovedades)
                    {
                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">
                                    <div class="img-bg image_fade"
                                         style="background-image: url(@ViewBag.WebAdminUri/images/novedades/@item.Imagen)">
                                    </div>
                                </a>
                            </div>
                            <div class="entry-title">
                                <h2><a href="@Url.Action(MVC.Novedades.Detalle(item.Id))">@item.Titulo</a></h2>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> @item.Fecha.ToString("dd MMMM yyyy")</li>
                            </ul>
                            <div class="entry-content">
                                <p>@item.Subtitulo</p>
                                <a href="@Url.Action(MVC.Novedades.Detalle(item.Id))" class="more-link">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {

                <div class="row topmargin bottommargin">
                    <div class="col-xs-12">
                        <div class="alert bounceIn alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Lo sentimos!.</strong> No hay resultados.
                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial(MVC.Shared.Views._SuscribiteNewsletter)

    </section>
</div>

@section scripts
{
    <script>var baseUrl = '@ViewBag.BaseUrl';</script>
    <script src="~/Scripts/Novedades/Index.js"></script>
}
