﻿@model Taranto.ViewModels.SliderHomeViewModelItem

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h3 class="text-uppercase letter-spacing-1">Slider Home &gt; Nuevo</h3>
</div>

@using (Html.BeginForm("Add", "SliderHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="tab-content">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.EditorFor(model => model.Image)

        @Html.EditorFor(model => model.Titulo)
        @Html.EditorFor(model => model.SubTitulo)


    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
    </div>
}