﻿@model Taranto.ViewModels.SliderHomeViewModelItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}


@using (Html.BeginForm("Edit", "SliderHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="tab-content">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.EditorFor(model => model.Image)

        @Html.EditorFor(model => model.Titulo)
        @Html.EditorFor(model => model.SubTitulo)

    </div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

