﻿@model Taranto.ViewModels.RevistaVMItem

@{
    ViewBag.Title = "Revista Juntando Partes > Editar";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h3 class="text-uppercase letter-spacing-1">@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("Edit", "Revista", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="tab-content">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-xxs-12 col-xs-6">
                @Html.EditorFor(model => model.Date)

            </div>
            <div class="col-xxs-12 col-xs-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Number, "Numero de revista")
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        @Html.EditorFor(model => model.Titulo)
        @Html.EditorFor(model => model.SubTitulo)
        @Html.EditorFor(model => model.Image, new { Label = "Imagen portada" })
        @Html.EditorFor(model => model.File, new { Label = "Archivo Adjunto", Id = "File" })

    </div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}

