﻿
@model  Taranto.ViewModels.RevistaVM
@{
    ViewBag.Title = "Revista juntando partes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.Message
    <section class="container clearfix">

        <div class="row mt-30">
            <div class="col-sm-8 col-sm-offset-2">


                <a href="@Url.Action("Add", "Revista")" class="btn btn-default">Cargar nuevo <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
                <div class="clearfix"></div>

                <div class="mt-30 mt-sm-40 text-center">
                    <h3 class="text-uppercase letter-spacing-1">@ViewBag.Title</h3>
                </div>
                @{
                    var request = HttpContext.Current.Request;
                    var appUrl = HttpRuntime.AppDomainAppVirtualPath;
                    var baseUrl = string.Format("{0}://{1}{2}", request.Url.Scheme, request.Url.Authority, appUrl);
                    if (Model == null) { return; }
                    foreach (var item in Model.Items)
                    {
                        <div id="article-3" class="article mt-30">
                            <div class="article-image" style=" background-image: url(@string.Concat(baseUrl, item.Image.ToString()));"></div>
                            <div class="article-content">
                                <h4 class="font-regular"><strong>@item.Number</strong> | @item.Titulo</h4>
                                <p><strong>@item.Date.ToString("dd MMM yyyy")</strong></p>
                            </div>
                            <div class="clearfix"></div>

                            <a href="@Url.Action("Edit", "Revista", new { Id = item.Id }, Request.Url.Scheme)" class="btn btn-default mt-10">Editar <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                            <a href="javascript:if(confirm('Seguro quieres borrar?')){parent.location='Revista/delete?id=@item.Id';};" class="btn btn-default mt-10">Eliminar <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        }
                    }

                </div>
        </div>

    </section>

