﻿@using TarantoWebCatalogo.Localization
@using TarantoWebCatalogo.ViewModels.Productos
@using TarantoWebCatalogo.Web.helpers.Enums
@model TarantoWebCatalogo.ViewModels.Productos.ProductoIndex

<div class="sidebar bottommargin notopmargin clearfix topmargin">
    <div class="sidebar-widgets-wrap" id="categorias-productos">
        <div class="widget widget_links clearfix">


            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.Sellado).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.Friccion).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.Fijacion).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.SuspensionYDireccion).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.ComponentesDeMotor).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.Encendido).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

            @Html.Partial(MVC.Productos.Views._SidebarProducto,
                new SidebarProductoView
                {
                    Productos = Model.MenuProductos.Where(p =>
                        p.IdCategoria == (int)CategoriaProducto.HerramientasTaranto).ToList(),
                    IdProductoSeleccionado = Model.Producto.Id
                })

        </div>
    </div>
</div>
