﻿@model TarantoWebCatalogo.ViewModels.Productos.SidebarProductoView

<h4 class="topmargin-sm text-uppercase">@Model.Titulo</h4>
@foreach (var item in Model.Productos)
{
    var productoSeleccionado = Model.IdProductoSeleccionado == item.Id ? "color" : "";

    <ul class="text-uppercase">
        <li>
            <a href="@Url.Action(MVC.Productos.Index(item.Id))">
                <div class="@productoSeleccionado">@item.Titulo</div>
            </a>
        </li>
    </ul>
}
