﻿@using TarantoWebCatalogo.Localization;
@model TarantoWebCatalogo.ViewModels.Productos.ProductoIndex

<div id="pageProductos">
    <section id="page-title" class="page-title-parallax page-title-dark page-title-center" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
            <h1 class="text-uppercase">@Localization.Productos</h1>
        </div>
    </section>
</div>

<div class="stretched">
    <section id="content">
        <div class="content-wrap nobottompadding">
            <div class="container clearfix">
                <div class="postcontent nobottommargin clearfix col_last">
                    <div class="single-post nobottommargin">

                        @if (string.IsNullOrEmpty(Model.Producto.Titulo))
                        {
                            <div class="alert bounceIn alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <strong>Seleccione un producto..</strong>
                            </div>
                        }
                        else
                        {
                            <div class="entry clearfix nobottommargin">
                                <div class="heading-block">
                                    <h3 class="text-uppercase">
                                        <span class="color-azul"><b>@Model.Producto.CategoriaDetalle</b></span> | 
                                        <span class="color">@Model.Producto.Titulo</span>
                                    </h3>
                                    <span class="linea"></span>
                                </div>
                                <div class="entry-content notopmargin bottommargin wysiwyg">
                                    @Html.Raw(Model.Producto.Descripcion)
                                </div>
                                <div class="clear"></div>
                                
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial(MVC.Productos.Views._Sidebar, Model)
            </div>
        </div>

        <a href="Catalogo" class="button button-full button-azul center tright">
            <div class="container clearfix">
                Ir al Cátalogo de <strong>Productos Taranto</strong>?<i class="icon-caret-right" style="top:4px;"></i>
            </div>
        </a>

    </section>
</div>

