﻿
@model  Taranto.ViewModels.CtaCteTicketVM
@{
    ViewBag.Title = "CUENTA CORRIENTE > COMPROBANTES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>
            <div class="clearfix"></div>
            <div class="select-article mt-20">
                <select name="id_category" id="id_category" class="selectpicker" data-style="form-control" data-width="100%" data-dropup-auto="false" title="Filtrar..." data-live-search="true" data-live-search-placeholder="Buscar..." data-none-results-text="No hay resultados" required>
                    @{
                        if (Model == null) { return; }
                        foreach (var item in Model.Items)
                        {
                            <option value="@item.Id" class="text-uppercase">ID cliente: @item.IdUser | Fecha: @item.CtacteTicketDate.ToString("dd MMM yyyy")</option>
                        }
                    }
                </select>
            </div>

            @{

                if (Model == null) { return; }
                foreach (var item in Model.Items)
                {
                    <div id="article-@item.Id" class="article mt-30">
                        <div class="article-content" style="min-height: auto;">
                            <h4 class="font-regular">ID CLIENTE: @item.IdUser</h4>
                            <p class="chat-badge">
                                <span>Fecha: @item.CtacteTicketDate.ToString("dd MMM yyyy")</span>
                                @if (item.Received == 0)
                                {
                                    <span class="badgee">1</span>
                                }
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <a role="button" data-toggle="collapse" href="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id" class="btn btn-default mt-10">Leer <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a>
                        @if (item.Received == 0)
                        {
                            <a href="javascript:if(confirm('Marcar como recibido?')){parent.location='CtaCteComprobantes/MarkAsReceived/@item.Id';};" class="btn btn-default mt-10">Marcar como recibido <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                        }

                        <div class="clearfix"></div>
                        <div class="collapse mt-10" id="collapse-@item.Id">
                            <div class="article-content" style="min-height: auto;">
                                <p class="pt-10 mb-0">Facturas asociadas: @item.Ref</p>
                                @if (!string.IsNullOrEmpty(item.Message))
                                {
                                    <p class="pt-10 mb-0">@item.Message</p>
                                }
                                @if (!string.IsNullOrEmpty(item.File))
                                {
                                    <p class="pt-10 mb-0">Comprobante adjunto: <a href="@string.Format("http://www.taranto.com.ar/media/{0}",item.File)" target="_blank" class="font-bold">@string.Format("http://www.taranto.com.ar/media/{0}", item.File)</a> </p>
                                }
                                @if (item.Received > 0)
                                {
                                    <p class="pt-10 mb-0 font-italic txt-blue">Marcado como recibido</p>
                                }
                            </div>
                        </div>

                    </div>
                }
            }

        </div>
    </div>

</section>

