﻿@model Taranto.ViewModels.RRHHBusquedaVMItem

@{
    ViewBag.Title = "RRHH > BÚSQUEDAS ACTIVAS > EDITAR";
    Layout = "~/Views/Shared/_MultiLanguageLayout.cshtml";
}

<div class="mt-30 mt-sm-40 text-center">
    <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="tab-content">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.EditorFor(model => model.Funcion)
    @Html.EditorFor(model => model.Equipo)
    @Html.EditorFor(model => model.Ciudad)
    @Html.EditorFor(model => model.Descripcion)

    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
</div>
    <hr class="mt-40">
    <div class="form-group">
        <button type="submit" id="btnSlider" data-loading-text="Cargando..." class="btn btn-block btn-backend" autocomplete="off">
            Guardar
        </button>
        <input type="submit" class="hidden" value="Guardar">
    </div>
}
