﻿
@{
    ViewBag.Title = "Estadisticas de terceros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container clearfix">

    <div class="row mt-30">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mt-30 mt-sm-40 text-center">
                <h4 class="text-uppercase letter-spacing-1">@ViewBag.Title</h4>
            </div>

                <div class="row mt-30">
                    <div class="col-sm-8 col-sm-offset-2">

                        <div>
                            <a href="http://www.google.com/analytics/web/?hl=es#report" target="_blank">
                                <img src="../images/analytics.png">
                            </a>
                        </div>
                        <div class="mt-30">
                            <a href="http://www.addthis.com/" target="_blank">
                                <img src="../images/addthis.png">
                            </a>
                        </div>

                    </div>
                </div>

        </div>
    </div>

</section>

